﻿<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<script language="javascript" src="../RadWindow.js">
	</script>
	<body id="Body1" runat="server" class="pBack">
	<asp:Label ID="scriptHack" runat="server"></asp:Label>
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:Template DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html" />
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			
			<tr>
				<td class="pcL">
					<GEN:Menu FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV" />
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent">
							<a name="StartOfPageContent"></a>
							<GEN:RECORD NAME="tasksRecordControl">
<!-- Begin Record Panel.html -->
<GEN:Template DESCRIPTION="Standard record panel." TYPE="Edit One Record" FILE="Record Panels/Edit Record - Label on Side.html" />
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("SaveButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("OKButton$_Button")) %>
 <table class="dv" cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dhi"><GEN:Image NAME="tasksDialogIcon" /></td>
	<td class="dht" valign="middle">
	<GEN:HTML NAME="tasksDialogTitle" />
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr>
	<td>
	<table id="CollapsibleRegion" style="display:block;" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td class="dBody">
	<table cellpadding="0" cellspacing="3" border="0">
	
	<tr>
	<td class="fls"><GEN:Label NAME="Label" /></td>
	<td class="dfv">
 <telerik:RadDateTimePicker ID="RadDateTimePicker1" runat="server">
 <TimeView StartTime="06:00:00" EndTime="18:00:00" Interval="00:30:00" />
 </telerik:RadDateTimePicker>
</td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label1" /></td>
	<td class="dfv"><telerik:RadDateTimePicker ID="EndDateTime" runat="server">
 <TimeView StartTime="06:00:00" EndTime="18:00:00" Interval="00:30:00" />
 </telerik:RadDateTimePicker></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel NAME="tradesman_idLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="tradesman_id" /></td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="task_type_idLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="task_type_id" /></td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="notesLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="notes" /></td>
	</tr>
	
	
	
	</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
 </table>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("OKButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("SaveButton$_Button")) %>
<!-- End Record Panel.html -->
</GEN:RECORD>
<br/>
<br/>
<GEN:Insert TYPE="Panel" />
<GEN:GROUP NAME="PageButtons">
<table cellpadding="0" cellspacing="0" border="0" id="Table1">
	<tr>
	<td class="rpbAlign">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="OKButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="SaveButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="CancelButton" /></td>
	</tr>
	</table>
	</td>
	</tr>
</table>
</GEN:GROUP>
<br/>
<br/>

							<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
							<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
						</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				
			</tr>
			
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


