﻿<GEN:TEMPLATE DESCRIPTION="Standard menu panel." ORIENTATION="Horizontal" TYPE="Menu" FILE="Menu Panels/HorizontalMenu.html"></GEN:TEMPLATE>
<table cellspacing="0" cellpadding="0" border="0">
 <tr>
	<td class="menus">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="mel"><img src="../Images/space.gif" height="1" width="39" alt=""/></td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu1MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu1MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu2MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu2MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu3MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu3MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu5MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu5MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu4MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu4MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu8MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu8MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu7MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu7MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu6MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu6MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu9MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu9MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu11MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu11MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu10MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu10MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu12MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu12MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td class="mer"><img src="../Images/space.gif" height="1" width="39" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="mbbg"><img src="../Images/space.gif" height="1" width="1" alt=""/></td>
 </tr>
</table>
