﻿<GEN:TEMPLATE DESCRIPTION="Standard menu panel." ORIENTATION="Horizontal" TYPE="Menu" FILE="Menu Panels/HorizontalMenu.html"></GEN:TEMPLATE>
<table cellspacing="0" cellpadding="0" border="0">
 <tr>
	<td class="menus">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="mel"><img src="../Images/space.gif" height="1" width="39" alt=""/></td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu2MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu2MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td>
	<GEN:BUTTON FILE="../Shared/Menu_Item.html" NAME="Menu3MenuItem"></GEN:BUTTON>
	<GEN:BUTTON FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu3MenuItemHilited"></GEN:BUTTON>
	</td>
	
	<td class="mer"><img src="../Images/space.gif" height="1" width="39" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="mbbg"><img src="../Images/space.gif" height="1" width="1" alt=""/></td>
 </tr>
</table>
