HTML {
	direction: ltr;
	}

BODY {
	font-family: Verdana, Geneva, ms sans serif;
	margin: 0px;
	}

TD {
	text-align: left;
	vertical-align: top;
	font-size: 10px;
	}	


/**********************************************************************
 * Page Center Styles                                                 *
 **********************************************************************/
.pcTable {
	}
.pcTL {
	}
.pcT {
	}
.pcTR {
	}
.pcL {
	padding-left: 1px;
	padding-top: 36px;
	width: 1px;
	}
.pcC {
	}
.pcR {
	}
.pcBL {
	}
.pcB {
	padding-bottom: 150px;
	}
.pcBR {
	}


/**********************************************************************
 * Button Styles                                                      *
 **********************************************************************/
a.button_link, .thc a.button_link {
	color: #ffffff;
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	width: 100%;
	}

a.button_link:hover, .thc a.button_link:hover {
	color: #00ccff;
	}

.button-TL-white, .bTL {
	background-image:url(../Images/buttonTL.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
	width: 6px;
	height: 6px;
	}
.button-T-white, .bT {
	background-image:url(../Images/buttonT.gif);
	background-repeat: repeat-x;
	background-position: bottom center;
	height: 6px;
	}
.button-TR-white, .bTR {
	background-image:url(../Images/buttonTR.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	width: 6px;
	height: 6px;
	}
.button-L-white, .bL {
	background-image:url(../Images/buttonL.gif);
	background-repeat: repeat-y;
	background-position: center right;
	width: 6px;
	height: 7px;
	}
.button-white, .bC {
	background-color: #4c7bd1;
	white-space: nowrap;
	height: 7px; 
	}
.button-R-white, .bR {
	background-image:url(../Images/buttonR.gif);	
	background-repeat: repeat-y;
	background-position: center left;
	width: 6px;
	height: 7px; 
	}
.button-BL-white, .bBL {
	background-image:url(../Images/buttonBL.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 6px;
	height: 7px;
	}
.button-B-white, .bB {
	background-image:url(../Images/buttonB.gif);
	background-repeat: repeat-x;
	background-position: top center;
	height: 7px;
	}
.button-BR-white, .bBR {
	background-image:url(../Images/buttonBR.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 6px;
	height: 7px;
	}
 

/**********************************************************************
 * Menu Styles                                                        *
 **********************************************************************/
.menus {
	width: 10px;
	}

.menusV {
	padding-left: 10px;
	padding-right: 10px;
	}

.menu {
	color: #444444;
	font-family: Verdana, Geneva, ms sans serif;
	padding-bottom: 2px;
	}
	
a.menu {
	color: #444444; 
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100%;
	}

a.menu:hover {
	color: #000000;
	}

.menu_on-TL, .moTL {
	background-image: url(../Images/menuOnTL.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 9px;
	height: 8px;
	}
.menu_on-T, .moT {
	background-image: url(../Images/menuOnT.gif);
	height: 8px;
	}
.menu_on-TR, .moTR {
	background-image: url(../Images/menuOnTR.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 9px;
	height: 8px;
	}
.menu_on-L, .moL {
	background-image: url(../Images/menuOnL.gif);
	width: 9px;
	height: 10px;
	}
.menu_on, .moC {
	background-color: #ffffff;
	white-space: nowrap;
	width: 100%;
	}
.menu_on-R, .moR {
	background-image: url(../Images/menuOnR.gif);
	width: 9px;
	height: 10px;
	}
.menu_on-BL, .moBL {
	background-image: url(../Images/menuOnBL.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 9px;
	height: 4px;
	}
.menu_on-B, .moB {
	background-color: #ffffff;
	background-repeat: repeat-x;
	background-position: top center;
	height: 4px;
	}
.menu_on-BR, .moBR {
	background-image: url(../Images/menuOnBR.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 9px;
	height: 4px;
	}

.menu_on a, .moC a {
	color: #ff3300;
	}

.menu_off-TL, .mTL {
	background-image: url(../Images/menuOffTL.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 9px;
	height: 8px;
	}
.menu_off-T, .mT {
	background-image: url(../Images/menuOffT.gif);
	height: 8px;
	}
.menu_off-TR, .mTR {
	background-image: url(../Images/menuOffTR.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 9px;
	height: 8px;
	}
.menu_off-L, .mL {
	background-image: url(../Images/menuOffL.gif);
	width: 9px;
	height: 10px;
	}
.menu_off, .mC {
	background-color: #eaeaea;
	white-space: nowrap;
	width: 100%;
	}
.menu_off-R, .mR {
	background-image: url(../Images/menuOffR.gif);
	width: 9px;
	height: 10px;
	}
.menu_off-BL, .mBL {
	background-image: url(../Images/menuOffBL.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 9px;
	height: 4px;
	}
.menu_off-B, .mB {
	background-image: url(../Images/menuOffB.gif);
	background-repeat: repeat-x;
	background-position: top center;
	height: 4px;
	}
.menu_off-BR, .mBR {
	background-image: url(../Images/menuOffBR.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 9px;
	height: 4px;
	}

.menuEdgeL, .mel {
	background-image: url(../Images/menuEdgeL.gif);
	background-position: center right;
	background-repeat: no-repeat;
	width: 33px;
	height: 45px;
	}

.menuEdgeR, .mer {
	background-image: url(../Images/menuEdgeR.gif);
	background-position: center left;
	background-repeat: no-repeat;
	width: 33px;
	height: 45px;
	}

.menu_bot_bg, .mbbg { 
	}

.menuVerticalOverTL, .mvoTL {
	background-image: url(../Images/menuVerticalOverTL.gif);
	background-repeat: repeat-y;
	background-position: top right;
	width: 8px;
	height: 6px;
	}
.menuVerticalOverT, .mvoT {
	background-image: url(../Images/menuVerticalOverT.gif);
	width: 100%;
	height: 6px; 
	}
.menuVerticalOverTR, .mvoTR {
	background-image: url(../Images/menuVerticalOverTR.gif);
	background-repeat: repeat-y;
	background-position: top right;
	width: 3px;
	height: 6px;
	}
.menuVerticalOverL, .mvoL {
	background-image: url(../Images/menuVerticalOverL.gif);
	background-repeat: repeat-y;
	background-position: center left;
	width: 8px;
	height: 14px;
	}
.menuVerticalOverC, .mvoC {
	background-image: url(../Images/menuVerticalOverC.gif);
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
	height: 14px;
	}
.menuVerticalOverR, .mvoR {
	background-image: url(../Images/menuVerticalOverR.gif);
	background-repeat: repeat-y;
	background-position: center right;
	width: 3px;
	height: 14px;
	}
.menuVerticalOverBL, .mvoBL {
	background-image: url(../Images/menuVerticalOverBL.gif);
	background-repeat: repeat-y;
	background-position: bottom right;
	width: 8px;
	height: 6px;
	}
.menuVerticalOverB, .mvoB {
	background-image: url(../Images/menuVerticalOverB.gif);
	width: 100%;
	height: 6px; 
	}
.menuVerticalOverBR, .mvoBR {
	background-image: url(../Images/menuVerticalOverBR.gif);
	background-repeat: repeat-y;
	background-position: bottom right;
	width: 3px;
	height: 6px;
	}

.menuVerticalOverC a, .mvoC a {
	color: #ff3300;
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100%;
	padding-bottom: 1px;
	}

.menuVerticalOverC a:hover, .mvoC a:hover {
	color: #ff3300;
	}

.menuVerticalTL, .mvTL {
	background-image: url(../Images/menuVerticalTL.gif);
	background-repeat: repeat-y;
	background-position: top right;
	width: 8px;
	height: 5px;
	}
.menuVerticalT, .mvT {
	background-image: url(../Images/menuVerticalT.gif);
	width: 100%;
	height: 5px; 
	}
.menuVerticalTR, .mvTR {
	background-image: url(../Images/menuVerticalTR.gif);
	background-repeat: repeat-y;
	background-position: top right;
	width: 3px;
	height: 5px;
	}
.menuVerticalL, .mvL {
	background-image: url(../Images/menuVerticalL.gif);
	background-repeat: repeat-y;
	background-position: center left;
	width: 8px;
	height: 14px;
	}
.menuVerticalC, .mvC {
	background-image: url(../Images/menuVerticalC.gif);
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
	height: 14px;
	}
.menuVerticalR, .mvR {
	background-image: url(../Images/menuVerticalR.gif);
	background-repeat: repeat-y;
	background-position: center right;
	width: 3px;
	height: 14px;
	}
.menuVerticalBL, .mvBL {
	background-image: url(../Images/menuVerticalBL.gif);
	background-repeat: repeat-y;
	background-position: bottom right;
	width: 8px;
	height: 6px;
	}
.menuVerticalB, .mvB {
	background-image: url(../Images/menuVerticalB.gif);
	width: 100%;
	height: 6px; 
	}
.menuVerticalBR, .mvBR {
	background-image: url(../Images/menuVerticalBR.gif);
	background-repeat: repeat-y;
	background-position: bottom right;
	width: 3px;
	height: 6px;
	} 


/**********************************************************************
 * Page Background Styles                                             *
 **********************************************************************/
.pageBackground, .pBack {
	background-image: url(../Images/bg.gif);
	width: 96%;
	height: 100%;
	}

.pageBorderTL, .pbTL {
	}
.pageBorderT, .pbT {
	}
.pageBorderTR, .pbTR {
	}
.pageBorderL, .pbL {
	}
.pageBorderC, .pbC {
	background-color: #ffffff;
	padding: 20px;
	}
.pageBorderR, .pbR {
	}
.pageBorderBL, .pbBL {
	}
.pageBorderB, .pbB {
	}
.pageBorderBR, .pbBR {
	}

.page_yellow, .pContent {
	background-color: #ffffff;
	height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left;
	}

.pageAlignment, .pAlign {
	}

.borderTable, .pbTable {
	}

.divider { 
	bottom-border:1px #FFFFFF ridge 3em;
	}

.footer {
	color: #444444;
	padding-left: 20px;
	}

.logoBG {
	background: #ffffff;
	} 


/**********************************************************************
 * Panel Body Styles                                                  *
 **********************************************************************/
.dialog_body, .dBody {
	background-color: #ffffff;
	color: #003366;
	padding: 4px;
	}

.dialog_field_value, .dfv {
	color: #666666;
	font-weight: normal;
	padding: 3px;
	}

.dialog_header, .dh {
	border-top: 1px #888888 solid;
	border-right: 1px #888888 solid;
	border-bottom: 1px #888888 solid;
	border-left: 1px #888888 solid;
	background-color: #d3e3f3;
	height: 26px;
	}

.dialog_header_text, .dht {
	color: #666666;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	padding-left: 4px;
	padding-top: 6px;
	vertical-align: middle;
	}

.dialogHeaderEdgeL, .dhel {
	width: 10px;
	}

.dialogHeaderEdgeR, .dher {
	width: 10px;
	}

.dialogHeaderIcon, .dhi {
	width:16px;
	padding-top: 6px;
	vertical-align: middle;
	}

.dialogHeaderExpandCollapseIcon, .dheci {
	background-image:url(../Images/dialogHeaderT.gif);
	width:20px;
	height:14px;
	padding-top: 6px;
	vertical-align: middle;
	}

.dialogHeaderPrintEmailIcon, .dhpei {
	padding-right: 10px;
	text-align: right;
	vertical-align: middle;
	width: 100%;
	}
  
.dialogHeaderTotalRecordCount, .dhtrc {
	background-image: url(../Images/dialogHeaderT.gif);
	text-align: right;
	vertical-align: middle;
	padding-top: 6px;
	padding-left: 20px;
	}

.dialogHeaderTotalRecordCountText, .dhtrct {
	}

.dialog_view, .dv {
	}

.category, .c {
	color: #444444;
	padding: 5px;
	}

.category_area, .ca {
	vertical-align: middle;
	white-space: nowrap;	
	padding-bottom: 4px;
	}

.category_area A, .ca A {
	color: #003399;
	text-decoration: underline;
	}

.category_area A:hover, .ca A:hover {
	color: #444444;
	text-decoration: underline;
	}

.subcategory_label, .scl {
	font-size: 10px;
	font-weight: normal;
	color: #003366;
	padding-left: 4px;
	white-space: nowrap;	
	vertical-align: middle;
	}

.subcategory SELECT, .sc SELECT {
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	border-top: 1px #555555 solid;
	border-left: 1px #555555 solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	}

.recordPanelButtonsAlignment, .rpbAlign {
  	padding-top: 10px;
   	padding-bottom: 5px;
   	padding-left: 100px;
	}
  
.field_label, .fl {
	font-size: 10px;
	font-weight: normal;
	color: #003366;
	white-space: nowrap;	
	vertical-align: middle;
	text-align: left;
	padding: 3px 6px 3px 6px;
	}

.field_label_on_side, .fls {
	font-size: 10px;
	font-weight: normal;
	color: #003366;
	white-space: nowrap;	
	vertical-align: middle;
	text-align: right;
	padding: 3px 6px 3px 6px;
	}

.field_value, .fv {
	padding: 0px;
	}

.field_input, .fi {
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	background-color: #eeeeff;
	border-top: 1px #555555 solid;
	border-left: 1px #555555 solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	}

.filter_value, .filv {
	font-weight: bold;
	padding: 2px;
	}

.filter_button_cell, .filbc {
	padding-left: 8px;
	padding-bottom: 3px;
	vertical-align:bottom;
	}

.Filter_Input, .fili {
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	border-top: 1px #555555 solid;
	border-left: 1px #555555 solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	background-color: #eeeeff;
	margin: 2px;
	margin-top: 0px;
	}

.filter_area, .fila {
	color: #003366;
	text-align: right;
	font-weight: normal;
	padding: 3px 6px 3px 6px;
	vertical-align: middle;
	white-space: nowrap;	
	}
	
.search_area, .sa {
	padding-top: 5px;
	padding-bottom: 2px;
	}

.search_label, .sl {
	color: #003366;
	font-weight: normal;
	vertical-align: middle;
	white-space: nowrap;	
	padding: 5px;
	}

.Search_Input, .si {
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	background-color: #eeeeff;
	border-top: 1px #555555 solid;
	border-left: 1px #555555 solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	margin-left: 2px;
	} 


/**********************************************************************
 * Pagination Styles                                                  *
 **********************************************************************/
.button_bar_cell, .prbbc {
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	}

.pagination_area, .pra {
	background-color: #d3e3f3;
	color: #003366;
	text-align: left;
	white-space: nowrap;	
	vertical-align: middle;
	}

.pagination_label, .prl {
	color: #003366;
	font-weight: normal;
	vertical-align: middle;
	white-space: nowrap;	
	padding: 2px;
	}

.pagination_value, .prv {
	color: #003366;
	font-weight: bold;
	vertical-align: middle;
	white-space: nowrap;	
	padding: 2px;
	padding-right: 5px;
	padding-left: 5px;
	}

.Pagination_Input, .pri {
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	background-color: #eeeeff;
	border-top: 1px #555555 solid;
	border-left: 1px #555555 solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	}

.pagination_row, .pr {
	background-color: #d3e3f3;
	font-weight: bold;
	vertical-align: middle;
	border-top: 1px #888888 solid;
	border-right: 1px #888888 solid;
	border-bottom: 1px #888888 solid;
	border-left: 1px #888888 solid;
	}

.paginationRowEdgeL, .prel {
	width: 0px;
	}

.paginationRowEdgeR, .prer {
	width: 0px;
	}

.paginationButtonFirst, .prbf {
	background-image:url(../Images/arrow_beg.gif);
	background-repeat: no-repeat;
	width: 25px;
	height: 17px;
	}

.paginationButtonPrevious, .prbp {
	background-image:url(../Images/arrow_left.gif);
	background-repeat: no-repeat;
	width: 17px;
	height: 17px;
	}

.paginationButtonNext, .prbn {
	background-image:url(../Images/arrow_right.gif);
	background-repeat: no-repeat;
	width: 25px;
	height: 17px;
	}

.paginationButtonLast, .prbl {
	background-image:url(../Images/arrow_end.gif);
	background-repeat: no-repeat;
	width: 25px;
	height: 17px;
	} 


/**********************************************************************
 * Table Rows Styles                                                  *
 **********************************************************************/
.header_cell, .header_cell_scrolling, .thc, .thcs {
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	background-color: #ffffff; 
	padding: 4px;
	border-bottom: 1px #aaaaaa solid;
	color: #444444;
	vertical-align: top;
	}

.column_header, .tch {
	font-weight: bold;
	}

.column_header A, .column_header_scrolling A, .tch A, .tchs A {
	color: #003399; 
	text-decoration: underline;
	} 
	
.column_header A:hover, .column_header_scrolling A:hover, .tch A:hover, .tchs A:hover {
	color: #444444;
	text-decoration: underline;
	}

.columnHeaderFilterPadding, .tchfilp {
	padding-top: 4px;
	text-align: center;
	}

.columnHeaderFilterPadding A, .tchfilp A {
	text-decoration: none;
	color: #ffffff;
	}

.columnHeaderFilterPadding A:hover, .tchfilp A:hover {
	text-decoration: none;
	color: #00ccff;
	}

.icon_cell, .alt_icon_cell, .tic, .taic {
	padding: 0px;
	color: #444444;
	vertical-align: middle;
	background-color: #ffffff;
	border-bottom: 1px #cccccc solid;
	width: 16px;
	}

.icon_cell_highlighted, .alt_icon_cell_highlighted, .tich, .taich {
	padding: 0px;
	color: #ffffff;
	vertical-align: middle;
	border-bottom: 1px #cccccc solid;
	width: 16px;
	background-color: #336699; 
	}

.icon_cell_selected, .tics {
	padding: 0px;
	color: #444444;
	vertical-align: middle;
	border-bottom: 1px #cccccc solid;
	width: 16px;
	background-color: #e5f2ff;
	}
			
.table_cell, .alt_table_cell, .ttc, .tatc {
	padding: 5px;
	color: #666666;
	vertical-align: top;
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	text-align: left;
	border-left: 1px #cccccc solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #cccccc solid;
	background-color: #ffffff;
	}

.table_cell_highlighted, .alt_table_cell_highlighted, .ttch, .tatch {
	padding: 5px;
	color: #ffffff;
	vertical-align: top;
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	text-align: left;
	border-left: 1px #cccccc solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #cccccc solid;
	background-color: #336699; 
	}

.table_cell_selected, .ttcs {
	padding: 5px;
	color: #666666;
	vertical-align: top;
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	text-align: left;
	border-left: 1px #cccccc solid;
	border-right: 1px #eeeeee solid;
	border-bottom: 1px #cccccc solid;
	background-color: #e5f2ff;
	}

.totals_cell, .tpttc {
	padding: 5px;
	color: #666666;
	vertical-align: top;
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	text-align: left;
	border-left: 1px #cccccc solid;
	border-right: 1px #eeeeee solid;
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	background-color: #ffffff;
	width: 48px;
	}

.totals_cell_value, .tpttcv {
	color: #666666;
	vertical-align: top;
	font-family: Verdana, Geneva, ms sans serif;
	font-size: 10px;
	text-align: right;
	border-left: 1px #cccccc solid;
	border-right: 1px #eeeeee solid;
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	background-color: #ffffff;
	}

.page_total_label, .tptl {
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	padding-left: 20px;
	white-space: nowrap;	
	vertical-align: middle;
	}

.page_total_value, .tptv {
	font-weight: normal;
	padding: 3px;
	}

.grand_total_label, .tgtl {
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	padding-left: 20px;
	white-space: nowrap;	
	vertical-align: middle;
	}

.grand_total_value, .tgtv {
	font-weight: normal;
	padding: 3px;
	}

.tableRowsEdge, .tre {
	border-left: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	} 


/**********************************************************************
 * Scrolling Table Styles                                             *
 **********************************************************************/
div.tableContainer {
	clear: both;
	height: 285px;  /* defines scrolling region height */
	overflow: auto; /* enables scroll bar */
	}

div.tableContainer table {
	width: 97%; /* defines data region width (provide room for scroll bar) */
	}

thead.fixedHeader tr {
	background-color: #ffffff; /* obscures data behind headers */
	position: relative; 	   /* fixes headers in place */
	}

.scrollContent {
	display: block;
	}

thead.fixedHeader td.button-white {
	white-space: nowrap;
	width: 0%;
	}

thead.fixedHeader table {
	width: 0%;
	}


/**********************************************************************
 * Date Selector Styles                                               *
 **********************************************************************/
.dsTodayDay {
	background-color: #e5f2ff;
	}

.dsDayHeader {
	color: #666666;
	background-color: #e5f2ff;
	font-size: 10px;
	padding: 6px;
	}

.dsSelectedDay {
	padding: 6px;
	}

.dsTitle {
	color: #666666;
	background-color: #d3e3f3;
	font-weight: bold;
	}

.dsWeekendDay {
	background-color: #eeeeee;
	padding: 6px;
	}

.dsOtherMonthDay {
	background-color: #eeeeee;
	padding: 6px;
	}


/**********************************************************************
 * Info Panel Styles                                                  *
 **********************************************************************/
.panelInformationDisplayWithImage_ImageArea {
	padding: 10px 10px 10px 16px;
	}

.panelInformationDisplayWithImage_InfoArea {
	vertical-align: middle;
	}

.panelInformationDisplayWithImage_InfoTitle {
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	white-space: nowrap;	
	}

.panelInformationDisplayWithImage_InfoDetails {
	padding-right: 16px;
	white-space: nowrap;
	}

.panelInformationDisplay {
	border-top: 1px #cccccc solid;
	border-left: 1px #cccccc solid;
	border-right: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
	}

.panelInformationDisplay_InfoArea {
	padding: 10px;
	}

.panelInformationDisplay_InfoTitle {
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	white-space: nowrap;	
	text-align: center;
	}

.panelInformationDisplay_InfoDetails {
	white-space: nowrap;
	text-align: center;
	} 


/**********************************************************************
 * Configuration/Error Page Styles                                    *
 **********************************************************************/
.configureErrorPagesText {
	font-size: 11px;
	color: #666666;
	}
	

/**********************************************************************
 * Section 508 Compliance Styles                                      *
 **********************************************************************/
.skipNavigationLinks {
	/* font-size: 10px; */ /* uncomment out to enable 508 */
	/* color: #666666;  */ /* uncomment out to enable 508 */ 
	font-size: 1px;        /* comment out to enable 508 */
	color: #ffffff;        /* comment out to enable 508 */
	}


/**********************************************************************
 * Detail Rollover Popup Styles                                       *
 **********************************************************************/
.detailRolloverTitle {
	color: #666666;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	padding-left: 4px;
	padding-top: 6px;
	vertical-align: middle;
	width: 100%;
	}

.detailRolloverTL {
	background-image:url(../Images/detailRolloverTL.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	height: 57px;
	width: 65px;
	}

.detailRolloverTL_noPNG {
	height: 57px;
	width: 65px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src='../Images/detailRolloverTL.png');
	}

.detailRolloverT {
	background-image:url(../Images/detailRolloverT.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	height: 57px;
	}

.detailRolloverT_noPNG {
	height: 57px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../Images/detailRolloverT.png');
	}

.detailRolloverTR {
	background-image:url(../Images/detailRolloverTR.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	height: 57px;
	width: 65px;
	}

.detailRolloverTR_noPNG {
	height: 57px;
	width: 65px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src='../Images/detailRolloverTR.png');
	}

.detailRolloverL {
	background-image:url(../Images/detailRolloverL.png);
	background-position: center right;
	background-repeat: repeat-y;
	width: 65px;
	}

.detailRolloverL_noPNG {
	width: 65px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../Images/detailRolloverL.png');
	}

.detailRolloverC {
	background-image:url(../Images/detailRolloverC.png);
	height: 200px;
	width: 300px;
	}

.detailRolloverR {
	background-image:url(../Images/detailRolloverR.png);
	background-position: center left;
	background-repeat: repeat-y;
	width: 65px;
	}

.detailRolloverR_noPNG {
	width: 65px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../Images/detailRolloverR.png');
	}

.detailRolloverBL {
	background-image:url(../Images/detailRolloverBL.png);
	background-position: top right;
	background-repeat: no-repeat;
	height: 29px;
	width: 65px;
	}

.detailRolloverBL_noPNG {
	height: 29px;
	width: 65px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src='../Images/detailRolloverBL.png');
	}

.detailRolloverB {
	background-image:url(../Images/detailRolloverB.png);
	background-postiion: top center;
	background-repeat: repeat-x;
	height: 29px;
	}

.detailRolloverB_noPNG {
	height: 29px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../Images/detailRolloverB.png');
	}

.detailRolloverBR {
	background-image:url(../Images/detailRolloverBR.png);
	background-position: top left;
	background-repeat: no-repeat;
	height: 29px;
	width: 65px;
	}

.detailRolloverBR_noPNG {
	height: 29px;
	width: 65px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image, src='../Images/detailRolloverBR.png');
	}


/**********************************************************************
 * JavaScript Date Selector Styles                                    *
 **********************************************************************/
.dpTable {
	background-color: #d3e3f3;
	border: 1px solid #aaaaaa;
	color: #333333;
	}

.dpTD {
	background-color: #ffffff;
	border: 1px #eeeeee solid;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-align: center;
	vertical-align: middle;
	}

.dpDayHighlightTD {
	background-color: #4a79d6;
	border: 1px #cccccc solid;
	color: #ffffff;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-align: center;
	vertical-align: middle;
	}

.dpTDHover {
	background-color: #4a79d6;
	border: 1px #eeeeee solid;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-align: center;
	vertical-align: middle;
	}

.dpDayTD {
	background-color: #d3e3f3;
	border: 1px #aaaaaa solid;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
	text-align: center;
	vertical-align: middle;
	}

.dpTitleText {
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	padding-top: 3px;
	text-align: center;
	vertical-align: middle;
	}

.dpDiv {
	}

.dpTR {
	}

.dpTitleTR {
	}

.dpDayTR {
	}


