<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Appointment.ascx.cs" Inherits="Shared_Appointment" %>

<asp:Image ID="aptIcon" runat="server" ImageAlign="Left" />&nbsp;
<asp:Label ID="aptSubject" runat="server" Text="Label"></asp:Label>


