<tr onmouseover="this.style.cursor='pointer'; return true;" onclick="clickLinkButtonText(this, event);">
	<td class="mvoTL"><img src="../Images/space.gif" height="6" width="8" alt=""/></td>
	<td class="mvoT"><img src="../Images/space.gif" height="6" width="10" alt=""/></td>
	<td class="mvoTR"><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
 </tr>
 <tr onmouseover="this.style.cursor='pointer'; return true;" onclick="clickLinkButtonText(this, event);">
	<td class="mvoL"><img src="../Images/space.gif" height="14" width="8" alt=""/></td>
	<td class="mvoC"><GEN:LinkButton Name="Button" CssClass="menu"/></td>
	<td class="mvoR"><img src="../Images/space.gif" height="14" width="3" alt=""/></td>
 </tr>
 <tr onmouseover="this.style.cursor='pointer'; return true;" onclick="clickLinkButtonText(this, event);">
	<td class="mvoBL"><img src="../Images/space.gif" height="6" width="8" alt=""/></td>
	<td class="mvoB"><img src="../Images/space.gif" height="6" width="10" alt=""/></td>
	<td class="mvoBR"><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
 </tr>
