<table cellpadding="0" cellspacing="0" border="0" onmouseover="this.style.cursor='pointer'; return true;" onclick="clickLinkButtonText(this, event);">
 <tr>
	<td class="moTL"><img src="../Images/space.gif" height="8" width="9" alt=""/></td>
	<td class="moT"><img src="../Images/space.gif" height="8" width="4" alt=""/></td>
	<td class="moTR"><img src="../Images/space.gif" height="8" width="9" alt=""/></td>
 </tr>
 <tr>
	<td class="moL"><img src="../Images/space.gif" height="10" width="9" alt=""/></td>
	<td class="moC"><GEN:LinkButton Name="Button" CssClass="menu"/></td>
	<td class="moR"><img src="../Images/space.gif" height="10" width="9" alt=""/></td>
 </tr>
 <tr>
	<td class="moBL"><img src="../Images/space.gif" height="4" width="9" alt=""/></td>
	<td class="moB"><img src="../Images/space.gif" height="4" width="4" alt=""/></td>
	<td class="moBR"><img src="../Images/space.gif" height="4" width="9" alt=""/></td>
 </tr>
</table>
