<table cellpadding="0" cellspacing="0" border="0" onmouseover="this.style.cursor='pointer'; return true;" onclick="clickLinkButtonText(this, event);">
 <tr>
	<td class="bTL"><img src="../Images/space.gif" height="6" width="6" alt=""/></td>
	<td class="bT"><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td class="bTR"><img src="../Images/space.gif" height="6" width="6" alt=""/></td>
 </tr>
 <tr>
	<td class="bL"><img src="../Images/space.gif" height="7" width="6" alt=""/></td>
	<td class="bC"><GEN:LINKBUTTON NAME="Button"></GEN:LINKBUTTON></td>
	<td class="bR"><img src="../Images/space.gif" height="7" width="6" alt=""/></td>
 </tr>
 <tr>
	<td class="bBL"><img src="../Images/space.gif" height="7" width="6" alt=""/></td>
	<td class="bB"><img src="../Images/space.gif" height="7" width="3" alt=""/></td>
	<td class="bBR"><img src="../Images/space.gif" height="7" width="6" alt=""/></td>
 </tr>
</table>
