﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title>EditContract</title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<script language="javascript" src="../RadWindow.js"> 
	</script>
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
	<asp:Label ID="scriptHack" runat="server"></asp:Label>
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" />
		<GEN:Template DESCRIPTION="A completely blank page." TYPE="Page" FILE="Pages/Empty Page.html" />
		<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
		<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	<br />
	<GEN:RECORD NAME="contractMainRecordControl">
<!-- Begin Record Panel.html -->
<GEN:Template DESCRIPTION="Standard record panel." TYPE="Edit One Record" FILE="Record Panels/Edit Record - Label on Side.html" />
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("SaveButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("OKButton$_Button")) %>
 <table class="dv" cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dhi"><GEN:Image NAME="contractMainDialogIcon" /></td>
	<td class="dht" valign="middle">
	<GEN:HTML NAME="contractMainDialogTitle" />
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr>
	<td>
	<table id="CollapsibleRegion" style="display:block;" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td class="dBody">
	<table cellpadding="0" cellspacing="3" border="0">
	
	<tr>
	<td class="fls"><GEN:Label NAME="Label" /></td>
	<td class="dfv"><GEN:Label NAME="accountLabel" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="second_check_measure_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="second_check_measure_fee" /></td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel Name="dual_finishes_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="dual_finishes_fee" /></td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel Name="dual_finishes_lessthan_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="dual_finishes_lessthan_fee" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="difficult_delivery_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="difficult_delivery_fee" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="highrise_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="highrise_fee" /></td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label2" /></td>
	<td class="dfv"><GEN:FieldValue NAME="KickboardAfterTimberFee" TYPE="CheckBox" /></td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label3" /></td>
	<td class="dfv"><GEN:FieldValue NAME="KickboardsWasherAfterTimberFee" TYPE="CheckBox" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="designer_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="designer_fee" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="consultation_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="consultation_fee" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel NAME="home_insurance_sentLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="home_insurance_sent" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel NAME="home_insurance_policyLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="home_insurance_policy" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel NAME="estimated_completion_dateLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="estimated_completion_date" /></td>
	</tr>
	
	
	
	
	
	
	
	</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
 </table>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("OKButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("SaveButton$_Button")) %>
<!-- End Record Panel.html -->
</GEN:RECORD>

<GEN:GROUP NAME="PageButtons">
<table cellpadding="0" cellspacing="0" border="0" id="Table1">
	<tr>
	<td class="rpbAlign">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="OKButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="SaveButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="CancelButton" /></td>
	</tr>
	</table>
	</td>
	</tr>
</table>
</GEN:GROUP>
<br/>
<br/></form>
	</body>
</html>