﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:TEMPLATE DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html"></GEN:TEMPLATE>
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:HYPERLINK NAME="SkipNavigationLinks"></GEN:HYPERLINK>
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:HEADER FILE="../Header and Footer/Header.html" NAME="PageHeader"></GEN:HEADER>
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:MENU FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV"></GEN:MENU>
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:MENU FILE="../Menu Panels/Menu.html" NAME="Menu"></GEN:MENU>
					</td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent">
							<a name="StartOfPageContent"></a>
							<GEN:RECORD NAME="EvaluationQuestionRecordControl">
<!-- Begin Record Panel.html -->
<GEN:TEMPLATE DESCRIPTION="Standard record panel." TYPE="Show One Record" FILE="Record Panels/Show Record - Label on Side.html"></GEN:TEMPLATE>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("OKButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("SaveButton$_Button")) %>
 <table class="dv" cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	<td class="dheci" valign="middle"><a onclick="toggleExpandCollapse(this);"><img id="ExpandCollapseIcon" src="../Images/DialogHeaderIconCollapse.gif" border="0" alt="Collapse panel"/></a></td>
	<td class="dhi"><GEN:IMAGE NAME="EvaluationQuestionDialogIcon"></GEN:IMAGE></td>
	<td class="dht" valign="middle">
	<GEN:HTML NAME="EvaluationQuestionDialogTitle"></GEN:HTML>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr>
	<td>
	<table id="CollapsibleRegion" style="display:block;" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td class="dBody">
	<table cellpadding="0" cellspacing="3" border="0">
	
	<tr>
	<td class="fls">
		<GEN:FIELDLABEL NAME="EvaluationIDLabel"></GEN:FIELDLABEL>
	</td>
	<td class="dfv">
		<GEN:FIELDVALUE NAME="EvaluationID"></GEN:FIELDVALUE>
	</td>
	</tr>
	
	<tr>
	<td class="fls">
		<GEN:FIELDLABEL NAME="QuestionLabel"></GEN:FIELDLABEL>
	</td>
	<td class="dfv">
		<GEN:FIELDVALUE NAME="Question"></GEN:FIELDVALUE>
	</td>
	</tr>
	
	<tr>
	<td class="fls">
		<GEN:FIELDLABEL NAME="TypeIDLabel"></GEN:FIELDLABEL>
	</td>
	<td class="dfv">
		<GEN:FIELDVALUE NAME="TypeID"></GEN:FIELDVALUE>
	</td>
	</tr>
	
	<tr>
	<td class="fls">
		<GEN:FIELDLABEL NAME="OrderNumberLabel"></GEN:FIELDLABEL>
	</td>
	<td class="dfv">
		<GEN:FIELDVALUE NAME="OrderNumber"></GEN:FIELDVALUE>
	</td>
	</tr>
	
	<tr>
	<td class="fls">
		<GEN:FIELDLABEL NAME="associated_taskLabel"></GEN:FIELDLABEL>
	</td>
	<td class="dfv">
		<GEN:FIELDVALUE NAME="associated_task"></GEN:FIELDVALUE>
	</td>
	</tr>
	
	</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
 </table>
 <%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("SaveButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("OKButton$_Button")) %>
<!-- End Record Panel.html -->
</GEN:RECORD>
<br/>
<br/>
<GEN:TABLE NAME="EvaluationQuestionOptionsTableControl">
<!-- Begin Table Panel.html -->
<GEN:TEMPLATE DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html"></GEN:TEMPLATE>
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	<td class="dheci" valign="middle"><a onclick="toggleRegions(this);"><img id="ToggleRegionIcon" src="../Images/ToggleHideFilters.gif" border="0" alt="Hide Filters"/></a></td>
	<td class="dht" valign="middle"><GEN:HTML NAME="EvaluationQuestionOptionsTableTitle"></GEN:HTML></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:TEXT NAME="EvaluationQuestionOptionsTotalItemsText"></GEN:TEXT>&nbsp;<GEN:LABEL NAME="EvaluationQuestionOptionsTotalItems"></GEN:LABEL></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="EvaluationQuestionOptionsSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:TEXT NAME="EvaluationQuestionOptionsSearchforText"></GEN:TEXT></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("EvaluationQuestionOptionsTableControl$EvaluationQuestionOptionsSearchButton")) %>
		<GEN:SEARCHFILTER NAME="EvaluationQuestionOptionsSearchArea"></GEN:SEARCHFILTER>
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("EvaluationQuestionOptionsTableControl$EvaluationQuestionOptionsSearchButton")) %>
		</td>
		<td class="filbc"><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionOptionsSearchButton"></GEN:BUTTON></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="EvaluationQuestionOptionsFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionOptionsFilterButton"></GEN:BUTTON></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("EvaluationQuestionOptionsTableControl$EvaluationQuestionOptionsFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FIELDLABEL NAME="OptionIdLabel"></GEN:FIELDLABEL></td>
		<td><GEN:FIELDFILTER NAME="OptionIdFilter"></GEN:FIELDFILTER></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("EvaluationQuestionOptionsTableControl$EvaluationQuestionOptionsFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="EvaluationQuestionOptionsButtons">
			
			<td class="prbbc">
			<GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionOptionsNewButton"></GEN:BUTTON>
			</td>
			
			<td class="prbbc">
			<GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionOptionsEditButton"></GEN:BUTTON>
			</td>
			
			<td class="prbbc">
			<GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionOptionsDeleteButton"></GEN:BUTTON>
			</td>
			
			<td class="prbbc">
			<GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionOptionsExportButton"></GEN:BUTTON>
			</td>
			
			</GEN:GROUP>
			<td class="pra">
			<GEN:PAGINATION FILE="../Shared/Pagination.html" NAME="EvaluationQuestionOptionsPagination"></GEN:PAGINATION>
			</td>
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="EvaluationQuestionOptionsHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" colspan="2"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:SELECTION NAME="EvaluationQuestionOptionsToggleAll"></GEN:SELECTION></th>
			
			<th class="thc" scope="col"><GEN:FIELDLABEL NAME="OptionIdLabel1"></GEN:FIELDLABEL></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="EvaluationQuestionOptionsRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:IMAGEBUTTON NAME="EvaluationQuestionOptionsRecordRowEditButton"></GEN:IMAGEBUTTON></td>
				<td class="tic"><GEN:IMAGEBUTTON NAME="EvaluationQuestionOptionsRecordRowViewButton"></GEN:IMAGEBUTTON></td>
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:SELECTION NAME="EvaluationQuestionOptionsRecordRowSelection" TYPE="Single"></GEN:SELECTION></td>
				
			<td class="ttc" style="text-align: right;"><GEN:FIELDVALUE NAME="OptionId"></GEN:FIELDVALUE></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
<br/>
<br/>
<GEN:INSERT TYPE="Panel"></GEN:INSERT>

<GEN:GROUP NAME="PageButtons">
<table cellpadding="0" cellspacing="0" border="0" id="Table1">
	<tr>
	<td class="rpbAlign">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="OKButton"></GEN:BUTTON></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="SaveButton"></GEN:BUTTON></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="CancelButton"></GEN:BUTTON></td>
	</tr>
	</table>
	</td>
	</tr>
</table>
</GEN:GROUP>
<br/>
<br/>

							<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
							<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
						</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:FOOTER FILE="../Header and Footer/Footer.html" NAME="PageFooter"></GEN:FOOTER>
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


