﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:TEMPLATE DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html"></GEN:TEMPLATE>
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:HYPERLINK NAME="SkipNavigationLinks"></GEN:HYPERLINK>
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:HEADER FILE="../Header and Footer/Header.html" NAME="PageHeader"></GEN:HEADER>
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:MENU FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV"></GEN:MENU>
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:MENU FILE="../Menu Panels/Menu.html" NAME="Menu"></GEN:MENU>
					</td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent">
							<a name="StartOfPageContent"></a>
							<GEN:TABLE NAME="EvaluationQuestionTableControl">
<!-- Begin Table Panel.html -->
<GEN:TEMPLATE DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html"></GEN:TEMPLATE>
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	<td class="dheci" valign="middle"><a onclick="toggleRegions(this);"><img id="ToggleRegionIcon" src="../Images/ToggleHideFilters.gif" border="0" alt="Hide Filters"/></a></td>
	<td class="dht" valign="middle"><GEN:HTML NAME="EvaluationQuestionTableTitle"></GEN:HTML></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:TEXT NAME="EvaluationQuestionTotalItemsText"></GEN:TEXT>&nbsp;<GEN:LABEL NAME="EvaluationQuestionTotalItems"></GEN:LABEL></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="EvaluationQuestionSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:TEXT NAME="EvaluationQuestionSearchforText"></GEN:TEXT></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("EvaluationQuestionTableControl$EvaluationQuestionSearchButton")) %>
		<GEN:SEARCHFILTER NAME="EvaluationQuestionSearchArea"></GEN:SEARCHFILTER>
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("EvaluationQuestionTableControl$EvaluationQuestionSearchButton")) %>
		</td>
		<td class="filbc"><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionSearchButton"></GEN:BUTTON></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="EvaluationQuestionFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionFilterButton"></GEN:BUTTON></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("EvaluationQuestionTableControl$EvaluationQuestionFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FIELDLABEL NAME="EvaluationIDLabel"></GEN:FIELDLABEL></td>
		<td><GEN:FIELDFILTER NAME="EvaluationIDFilter"></GEN:FIELDFILTER></td>
	</tr>
	
	<tr>
		<td class="fila"><GEN:FIELDLABEL NAME="TypeIDLabel"></GEN:FIELDLABEL></td>
		<td><GEN:FIELDFILTER NAME="TypeIDFilter"></GEN:FIELDFILTER></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("EvaluationQuestionTableControl$EvaluationQuestionFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="EvaluationQuestionButtons">
			
			<td class="prbbc">
			<GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionNewButton"></GEN:BUTTON>
			</td>
			
			<td class="prbbc">
			<GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionEditButton"></GEN:BUTTON>
			</td>
			
			<td class="prbbc">
			<GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionDeleteButton"></GEN:BUTTON>
			</td>
			
			<td class="prbbc">
			<GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="EvaluationQuestionExportButton"></GEN:BUTTON>
			</td>
			
			</GEN:GROUP>
			<td class="pra">
			<GEN:PAGINATION FILE="../Shared/Pagination.html" NAME="EvaluationQuestionPagination"></GEN:PAGINATION>
			</td>
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="EvaluationQuestionHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" colspan="2"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:SELECTION NAME="EvaluationQuestionToggleAll"></GEN:SELECTION></th>
			
			<th class="thc" scope="col"><GEN:FIELDLABEL NAME="EvaluationIDLabel1"></GEN:FIELDLABEL></th>
			
			<th class="thc" scope="col"><GEN:FIELDLABEL NAME="QuestionLabel"></GEN:FIELDLABEL></th>
			
			<th class="thc" scope="col"><GEN:FIELDLABEL NAME="TypeIDLabel1"></GEN:FIELDLABEL></th>
			
			<th class="thc" scope="col"><GEN:FIELDLABEL NAME="OrderNumberLabel"></GEN:FIELDLABEL></th>
			
			<th class="thc" scope="col"><GEN:FIELDLABEL NAME="associated_taskLabel"></GEN:FIELDLABEL></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="EvaluationQuestionRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:IMAGEBUTTON NAME="EvaluationQuestionRecordRowEditButton"></GEN:IMAGEBUTTON></td>
				<td class="tic"><GEN:IMAGEBUTTON NAME="EvaluationQuestionRecordRowViewButton"></GEN:IMAGEBUTTON></td>
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:SELECTION NAME="EvaluationQuestionRecordRowSelection" TYPE="Single"></GEN:SELECTION></td>
				
			<td class="ttc" ><GEN:FIELDVALUE NAME="EvaluationID"></GEN:FIELDVALUE></td>
			
			<td class="ttc" ><GEN:FIELDVALUE NAME="Question"></GEN:FIELDVALUE></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FIELDVALUE NAME="TypeID"></GEN:FIELDVALUE></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FIELDVALUE NAME="OrderNumber"></GEN:FIELDVALUE></td>
			
			<td class="ttc" ><GEN:FIELDVALUE NAME="associated_task"></GEN:FIELDVALUE></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
<br/>
<br/>
<GEN:INSERT TYPE="Panel"></GEN:INSERT>

							<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
							<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
						</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:FOOTER FILE="../Header and Footer/Footer.html" NAME="PageFooter"></GEN:FOOTER>
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


