﻿<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Reference Control="../Shared/AppointmentToolTip.ascx" %>
<%@ register src="~/Shared/Appointment.ascx" tagname="AptSummary" tagprefix="Apt" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
        <link href="../Styles/RadSkins/Scheduler.Mac.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr><td class="pbC">
	    <table>
	        
            <tr>
                <td class="fila">
                    <asp:Label ID="Label1" runat="server" Text="Location"></asp:Label></td>
                <td>
                    <asp:DropDownList ID="locationList" runat="server">
                        <asp:ListItem>All</asp:ListItem>
                    </asp:DropDownList></td>
            </tr>
	        <tr><td class="fila"><GEN:Label NAME="Label" /></td>
	            <td>
	                    <asp:dropdownlist id="designerList" runat="server">
	                    <asp:listitem>All</asp:listitem>
                        </asp:dropdownlist>
                </td>
             </tr>
         </table>
         </td>
	</tr>
	<tr><td>
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent">
    <div>
                <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server" DefaultLoadingPanelID="RadAjaxLoadingPanel1">
                <AjaxSettings>
                    <telerik:AjaxSetting AjaxControlID="RadScheduler1">
                        <UpdatedControls>
                            <telerik:AjaxUpdatedControl ControlID="RadScheduler1" />
                             <telerik:AjaxUpdatedControl ControlID="RadToolTipManager1" />
                        </UpdatedControls>
                    </telerik:AjaxSetting>
                    <telerik:AjaxSetting AjaxControlId="locationList" EventName="SelectedIndexChanged">
                        <UpdatedControls>
                            <telerik:AjaxUpdatedControl ControlID="RadScheduler1" />
                            <telerik:AjaxUpdatedControl ControlID="designerList" />
                            <telerik:AjaxUpdatedControl ControlID="RadToolTipManager1" />
                        </UpdatedControls>
                    </telerik:AjaxSetting>
                    <telerik:AjaxSetting AjaxControlId="designerList" EventName="SelectedIndexChanged">
                        <UpdatedControls>
                            <telerik:AjaxUpdatedControl ControlID="RadScheduler1" />
                            <telerik:AjaxUpdatedControl ControlID="RadToolTipManager1" />
                        </UpdatedControls>
                    </telerik:AjaxSetting>
                </AjaxSettings>
            </telerik:RadAjaxManager>
                        
            <telerik:RadScheduler ID="RadScheduler1" runat="server" DataKeyField="ID" DataSubjectField="Subject" DataStartField="Start" DataEndField="End" Width="100%" Height="525px">
            <AppointmentTemplate>
                <Apt:AptSummary ID="aptDetails" runat="server" />
            </AppointmentTemplate>
            </telerik:RadScheduler>
            
            <telerik:RadToolTipManager runat="server" ID="RadToolTipManager1"
                    Width="300" Height="100" Skin="Vista"
                    Animation="Resize" Position="BottomRight" HideEvent="LeaveToolTip" Text="Loading..." AutoCloseDelay="6000"/>
                    
            <telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingPanel1" runat="server" Height="75px" IsSticky="False" Width="75px">
                <asp:Image ID="Image1" runat="server" AlternateText="Loading..." ImageUrl="../Images/Loading.gif" />
            </telerik:RadAjaxLoadingPanel>
        </div>
        </td>
        </tr>
        </table>
        </td>
        
	
	</tr></table>
</td><td style="width:15%"></td></tr></table>
		
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" />
		<GEN:Template DESCRIPTION="A completely blank page." TYPE="Page" FILE="Pages/Empty Page.html" />
		<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
		<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>