﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="WkCRMHeader.master.cs" Inherits="Master_pages_WkCRMHeader" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>User::Master</title>
  
<style type="text/css">
.head_ing {
    color: #004878;
    cursor: pointer;
    float: none !important;
    font: 13px/20px Arial,Helvetica,sans-serif !important;
    margin: 0 !important;
    padding: 0 10px 0 5px;
    text-align: left;
}
</style>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form2" runat="server">
    <div class="main_container">
        <div class="wraper">
            <div class="top_area">
                <h1>
                    Ceylon Exchange</h1>
                <h2>
                    <table>
                        <tr>
                            <td style="vertical-align: bottom">
                                <div id="loginName" runat="server">
                                </div>
                            </td>
                            <td style="vertical-align: bottom">
                                &nbsp; &nbsp;|&nbsp; &nbsp;
                                <asp:LinkButton ID="lnkLogout" class="mlink" runat="server">Logout</asp:LinkButton>
                            </td>
                        </tr>
                    </table>
                </h2>
                <div class="main_link">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Money Transfer</a></li>
                        <li><a href="">Order Currency</a></li>
                    </ul>
                </div>
            </div>
            <div class="main_content_area">
                <div class="bred_">
                    <ul style="display: none">
                        <li><a href="#" class="blink">sdas</a></li>
                        <li>::</li>
                        <li><a href="#" class="blink">sdas</a></li>
                        <li>::</li>
                        <li><a href="#" class="blink">sdas</a></li>
                        <li>::</li>
                        <li><a href="#" class="blink">sdas</a></li>
                        <li>::</li>
                        <li><a href="#" class="blink">sdas</a></li>
                        <li>::</li>
                        <li><a href="#" class="blink">sdas</a></li>
                        <li>::</li>
                    </ul>
                </div>
             <div id="cnts" runat="server"></div>
                <div style="width: 950px" class="main_content_area_left">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <div class="footer">
                © Copyright Ceylon Exchange 2011-2012, All rights reserved
            </div>
        </div>
    </div>
    </form>
</body>
</html>





<%--<%@ Master Language="C#" AutoEventWireup="true" CodeFile="WkCRMHeader.master.cs" Inherits="Master_pages_WkCRMHeader" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">


table
{
    border-collapse: collapse;
}

td.logout
{
    vertical-align: bottom;
    background-color: #E6D2BA;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

    </style>
</head>
<body>
    <form id="form1" runat="server">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
 <tr>
	<td width="720">
	<asp:Image ImageUrl="../Images/Header.png" runat="server" id="_Logo" AlternateText="">

</asp:Image>
	</td>
	<td class="logout">
        <asp:ImageButton ID="logoutButton" runat="server" ImageUrl="../Images/logout.png" BorderWidth="0"/>
        </td>
	
 </tr>
 <tr> 
 <td> <asp:Label ID="welcomeMsg" runat="server" />
 </td>
 </tr>
</table>
<br />
    </form>
</body>
</html>
--%>