﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SetAccountCompletion.aspx.cs" Inherits="Utilities_SetAccountCompletion" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button ID="SetCompletion" Text="Set Completion" runat="server" />
        
     <asp:Label ID="Results" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
