﻿<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>

	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:Template DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html" />
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Hyperlink NAME="SkipNavigationLinks" />
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Header FILE="../Header and Footer/Header.html" NAME="PageHeader" />
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:Menu FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV" />
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:Menu FILE="../Menu Panels/Menu.html" NAME="Menu" />
					</td>
					</tr><tr>
					<td>&nbsp;<GEN:Menu FILE="../Menu Panels/Menu2.html" NAME="Menu1" /></td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent"><a name="StartOfPageContent"></a><GEN:RECORD NAME="accountRecordControl">
<!-- Begin Record Panel.html --><GEN:Template DESCRIPTION="Standard record panel." TYPE="Add One Record" FILE="Record Panels/Add Record - Label on Side.html" />
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("SaveButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("CancelButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("OKButton$_Button")) %><table class="dv" cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dhi"><GEN:Image NAME="accountDialogIcon" /></td>
	<td class="dht" valign="middle">
	<GEN:HTML NAME="accountDialogTitle" />
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr>
	<td>
	<table id="CollapsibleRegion" style="display:block;" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td class="dBody">
	<table cellpadding="0" cellspacing="3" border="0">
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="NameLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="Name" /></td><td class="fls"><GEN:FieldLabel NAME="Label" />&nbsp;</td><td class="dfv"><GEN:FieldValue NAME="LastName" TYPE="TextBox" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="home_phoneLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="home_phone" /></td><td class="fls"><GEN:FieldLabel NAME="business_phoneLabel" /></td><td class="dfv"><GEN:FieldValue NAME="business_phone" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="mobileLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="mobile" /></td><td class="fls"><GEN:Label NAME="Label4" /></td><td class="dfv"><GEN:FieldValue NAME="Business2"  /></td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label1" /></td>
	<td class="dfv"><GEN:FieldValue NAME="Mobile2" /></td><td class="fls"><GEN:FieldLabel NAME="faxLabel" /></td><td class="dfv"><GEN:FieldValue NAME="fax" /></td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label2" /></td>
	<td class="dfv"><GEN:FieldValue NAME="BuildersName"  /></td><td class="fls"><GEN:Label NAME="Label3" /></td><td class="dfv"><GEN:FieldValue NAME="BuildersPhone"  /></td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="addressLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="address" /></td><td class="fls"><GEN:Label NAME="SuburbLabel" /></td><td class="dfv"><telerik:RadComboBox ID="SuburbCombo" runat="server" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="postcodeLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="postcode" /></td><td class="fls"><GEN:FieldLabel NAME="emailLabel" /></td><td class="dfv"><GEN:FieldValue NAME="email" /></td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label5" /></td>
	<td class="dfv"><GEN:FieldValue NAME="PostalAddress"  /></td><td class="fls"><GEN:Label NAME="Label8" /></td><td class="dfv"><GEN:FieldValue NAME="email2" TYPE="TextBox" /></td>
	</tr>
	
	
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="designer_idLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="designer_id" />
<GEN:Label NAME="showScheduleLabel" /></td><td class="fls"><GEN:FieldLabel Name="date_createdLabel" /></td><td class="dfv"><GEN:FieldValue Name="date_created" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel Name="benchtop_typeLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="benchtop_type" /></td><td class="fls"><GEN:FieldLabel NAME="Label6" /></td><td class="dfv"><GEN:FieldValue NAME="sale_date" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="time_frameLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="time_frame" /></td><td class="fls"><GEN:FieldLabel Name="door_typeLabel" /></td><td class="dfv"><GEN:FieldValue Name="door_type" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel NAME="opportunity_source_idLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="opportunity_source_id" /></td><td class="fls"><GEN:FieldLabel Name="price_rangeLabel" /></td><td class="dfv"><GEN:FieldValue Name="price_range" /></td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label7" /></td>
	<td class="dfv"><GEN:FieldValue NAME="OpportuntiyDetails"  /></td><td class="fls"><GEN:FieldLabel Name="contact_source_idLabel" /></td><td class="dfv"><GEN:FieldValue Name="contact_source_id" /></td>
	</tr>
	
	
	
	
	
	
	
	
	
	
	
	</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
 </table><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("OKButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("CancelButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("SaveButton$_Button")) %><!-- End Record Panel.html --></GEN:RECORD>


<GEN:GROUP NAME="PageButtons">
<table cellpadding="0" cellspacing="0" border="0" id="Table1">
	<tr>
	<td class="rpbAlign">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="OKButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="SaveButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="CancelButton" /></td>
	</tr>
	</table>
	</td>
	</tr>
</table></GEN:GROUP><div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div><div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div></td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:Footer FILE="../Header and Footer/Footer.html" NAME="PageFooter" />
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


