﻿<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
		<script language="javascript" src="../RadWindow.js"></script>
	<script>
	function GetWindowManager()
    {
        var oManager = $find("<%=RadWindowManager1.ClientID %>");
        return oManager;
    }
	</script>
	<body id="Body1" runat="server" class="pBack">
	
	<form id="Form1" method="post" runat="server">

		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:Template DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html" />
		  
	    
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Hyperlink NAME="SkipNavigationLinks" />
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Header FILE="../Header and Footer/Header.html" NAME="PageHeader" />
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:Menu FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV" />
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:Menu FILE="../Menu Panels/Menu.html" NAME="Menu" />
					</td>
					</tr><tr>
					<td><GEN:Menu FILE="../Menu Panels/Menu2.html" NAME="Menu1" /></td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent">
						
							<a name="StartOfPageContent"></a>
							
							<telerik:RadWindowManager ID="RadWindowManager1" runat="server" Modal="true" Behaviors="Move,Close" VisibleStatusbar="false" ReloadOnShow="true" Width="400px" Height="500px">
                            <Windows> 
                            <telerik:RadWindow ID="StandardWindow" runat="server"></telerik:RadWindow>
                            </Windows>
                        </telerik:RadWindowManager>
							<GEN:TABLE NAME="View_AccountLeadPhaseTableControl">
							 
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	    <asp:Label ID="injectScript" runat="server"></asp:Label>
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="View_AccountLeadPhaseTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="View_AccountLeadPhaseTotalItemsText" />&nbsp;<GEN:Label NAME="View_AccountLeadPhaseTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="View_AccountLeadPhaseSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="View_AccountLeadPhaseSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_AccountLeadPhaseTableControl$View_AccountLeadPhaseSearchButton")) %>
		<GEN:SearchFilter NAME="View_AccountLeadPhaseSearchArea1" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_AccountLeadPhaseTableControl$View_AccountLeadPhaseSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_AccountLeadPhaseSearchButton" /></td><td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="Button" />
</td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="View_AccountLeadPhaseFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_AccountLeadPhaseFilterButton" /></td><td rowspan="100" class="filbc">&nbsp;</td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_AccountLeadPhaseTableControl$View_AccountLeadPhaseFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="designer_idLabel2" /></td>
		<td><GEN:FieldFilter NAME="designer_idFilter1" /></td>
	</tr>
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="account_status_idLabel1" /></td>
		<td><GEN:FieldFilter NAME="account_status_idFilter1" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_AccountLeadPhaseTableControl$View_AccountLeadPhaseFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="View_AccountLeadPhaseButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_AccountLeadPhaseNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_AccountLeadPhaseEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_AccountLeadPhaseDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_AccountLeadPhaseExportButton" />
			</td>
			
			</GEN:GROUP>
			<td class="pra">
			<GEN:Pagination FILE="../Shared/Pagination.html" NAME="View_AccountLeadPhasePagination" />
			</td>
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="View_AccountLeadPhaseHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" COLSPAN="1"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel Name="LastNameLabel" /></th><th class="thc" scope="col"><GEN:FieldLabel Name="FirstNameLabel" /></th>
			
			<th class="thc" scope="col">&nbsp;<GEN:FieldLabel NAME="dateCreatedHeading" />&nbsp;</th><th class="thc" scope="col">&nbsp;<GEN:FieldLabel NAME="Label" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="designer_idLabel3" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="account_status_idLabel2" />&nbsp;</th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="next_review_dateLabel1" /></th><th class="thc" scope="col"><GEN:FieldLabel NAME="weeks_openLabel1" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="View_AccountLeadPhaseRecordRow">
			<div id="AJAXUpdateRecordRow">

			<tr>
				<td class="tic" scope="row"><GEN:ImageButton NAME="projectButton" /></td>
				
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="View_AccountLeadPhaseRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue Name="LastName" /></td><td class="ttc" ><GEN:FieldValue Name="FirstName" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="date_created" TYPE="Label" />&nbsp;&nbsp;</td><td class="ttc" ><GEN:FieldValue NAME="sale_date" TYPE="Label" /></td>
			
			<td class="ttc"  style="text-align:right"><GEN:FieldValue NAME="designer_id2" /></td>
			
			<td class="ttc"  style="text-align:right"><GEN:FieldValue NAME="account_status_id2" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="next_review_date2" /></td><td class="ttc"  style="text-align:right"><GEN:FieldValue NAME="weeks_open2" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
<br/>
<br/>
<GEN:Insert TYPE="Panel" />
<br/>
<br/>
<GEN:Insert TYPE="Panel" />

							<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
							<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
						</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:Footer FILE="../Header and Footer/Footer.html" NAME="PageFooter" />
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


