﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="5035" ></BaseClasses:BasePageSettings>
		<GEN:Template DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html" />
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Hyperlink NAME="SkipNavigationLinks" />
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Header FILE="../Header and Footer/Header.html" NAME="PageHeader" />
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:Menu FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV" />
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:Menu FILE="../Menu Panels/Menu.html" NAME="Menu" />
					</td>
					</tr><tr>
					<td>&nbsp;<GEN:Menu FILE="../Menu Panels/Menu1.html" NAME="Menu1" /></td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent">
							<a name="StartOfPageContent"></a>
							<GEN:TABLE NAME="opportunitySourceTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="opportunitySourceTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="opportunitySourceTotalItemsText" />&nbsp;<GEN:Label NAME="opportunitySourceTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="opportunitySourceSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="opportunitySourceSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("opportunitySourceTableControl$opportunitySourceSearchButton")) %>
		<GEN:SearchFilter NAME="opportunitySourceSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("opportunitySourceTableControl$opportunitySourceSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="opportunitySourceSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="opportunitySourceFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="opportunitySourceFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("opportunitySourceTableControl$opportunitySourceFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="opportunity_category_idLabel" /></td>
		<td><GEN:FieldFilter NAME="opportunity_category_idFilter" /></td>
	</tr>
	
	<tr>
		<td class="fila"><GEN:FieldLabel Name="status_idLabel" /></td>
		<td><GEN:FieldFilter Name="status_idFilter" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("opportunitySourceTableControl$opportunitySourceFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="opportunitySourceButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="opportunitySourceNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="opportunitySourceEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="opportunitySourceDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="opportunitySourceExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="opportunitySourceHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" COLSPAN="1"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:Selection NAME="opportunitySourceToggleAll" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="nameLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="opportunity_category_idLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="display_orderLabel" /></th>
			
			
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="opportunitySourceRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:ImageButton NAME="opportunitySourceRecordRowEditButton" /></td>
				
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="opportunitySourceRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue NAME="name" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="opportunity_category_id" /></td>
			
			<td class="ttc" style=";;;text-align:right"><GEN:FieldValue NAME="display_order" /></td>
			
			
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
<br/>
<br/>
<GEN:Insert TYPE="Panel" />

							<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
							<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
						</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:Footer FILE="../Header and Footer/Footer.html" NAME="PageFooter" />
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


