﻿<GEN:Template DESCRIPTION="Standard menu panel." ORIENTATION="Horizontal" TYPE="Menu" FILE="Menu Panels/HorizontalMenu.html" />
<table cellspacing="0" cellpadding="0" border="0">
 <tr>
	<td class="menus">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="mel"><img src="../Images/space.gif" height="1" width="39" alt=""/></td>
	
	<td>
	<GEN:Button FILE="../Shared/Menu_Item.html" NAME="Menu1MenuItem" />
	<GEN:Button FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu1MenuItemHilited" />
	</td>
	
	<td>
	<GEN:Button FILE="../Shared/Menu_Item.html" NAME="Menu7MenuItem" />
	<GEN:Button FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu7MenuItemHilited" />
	</td>
	
	<td>
	<GEN:Button FILE="../Shared/Menu_Item.html" NAME="Menu3MenuItem" />
	<GEN:Button FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu3MenuItemHilited" />
	</td>
	
	
	
	<td>
	<GEN:Button FILE="../Shared/Menu_Item.html" NAME="Menu11MenuItem" />
	<GEN:Button FILE="../Shared/Menu_Item_Highlighted.html" NAME="Menu11MenuItemHilited" />
	</td>
	
	<td class="mer"><img src="../Images/space.gif" height="1" width="39" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="mbbg"><img src="../Images/space.gif" height="1" width="1" alt=""/></td>
 </tr>
</table>
