﻿<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<script language="javascript" src="../RadWindow.js"></script>
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
	<asp:Label ID="scriptHack" runtat="server"></asp:Label>
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:Template DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html" />
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Hyperlink NAME="SkipNavigationLinks" />
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Header FILE="../Header and Footer/Header.html" NAME="PageHeader" />
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:Menu FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV" />
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:Menu FILE="../Menu Panels/Menu.html" NAME="Menu" />
					</td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent"><telerik:RadWindowManager ID="RadWindowManager1" runat="server" Modal="true" Behaviors="Move,Close" VisibleStatusbar="false" ReloadOnShow="true" Width="450px" Height="450px"><Windows><telerik:RadWindow ID="StandardWindow" runat="server"></telerik:RadWindow></Windows></telerik:RadWindowManager><a name="StartOfPageContent"></a><GEN:Insert />
							<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div><div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div><GEN:TABLE NAME="View_PaymentScheduleOverviewTableControl">
<!-- Begin Table Panel.html --><GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="View_PaymentScheduleOverviewTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="View_PaymentScheduleOverviewTotalItemsText" />&nbsp;<GEN:Label NAME="View_PaymentScheduleOverviewTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="View_PaymentScheduleOverviewSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="View_PaymentScheduleOverviewSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_PaymentScheduleOverviewTableControl$View_PaymentScheduleOverviewSearchButton")) %>
		<GEN:SearchFilter NAME="View_PaymentScheduleOverviewSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_PaymentScheduleOverviewTableControl$View_PaymentScheduleOverviewSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_PaymentScheduleOverviewSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="View_PaymentScheduleOverviewFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_PaymentScheduleOverviewFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_PaymentScheduleOverviewTableControl$View_PaymentScheduleOverviewFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="PlaceholderFilterLabel1" /></td>
		<td><GEN:FieldFilter NAME="PlaceholderFilter1" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_PaymentScheduleOverviewTableControl$View_PaymentScheduleOverviewFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="View_PaymentScheduleOverviewButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_PaymentScheduleOverviewNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_PaymentScheduleOverviewEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_PaymentScheduleOverviewDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_PaymentScheduleOverviewExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="View_PaymentScheduleOverviewHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			
			
			
			<th class="thc" scope="col">&nbsp;</th><th class="thc" scope="col">&nbsp;</th><th class="thc" scope="col"><GEN:FieldLabel NAME="payment_stage_idLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="TotalAmountLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="ReceivedLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="OutstandingLabel" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="View_PaymentScheduleOverviewRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				
				
				
				
			<td class="ttc" ><GEN:ImageButton NAME="paymentButton" /></td><td class="ttc" ><GEN:ImageButton NAME="variationsButton" /></td><td class="ttc" ><GEN:FieldValue NAME="payment_stage_id" /></td>
			
			<td class="ttc" style=";;;;text-align:right"><GEN:FieldValue NAME="TotalAmount" /></td>
			
			<td class="ttc" style=";;;text-align:right"><GEN:FieldValue NAME="Received" /></td>
			
			<td class="ttc" style=";;;;text-align:right"><GEN:FieldValue NAME="Outstanding" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			<GEN:GROUP NAME="View_PaymentScheduleOverviewGrandTotalGroup">
			<tr>
				
				
			<td class="tpttcv">&nbsp;</td><td class="tpttcv"><asp:label id="Label" runat="server" text="Grand Totals"/></td><td class="tpttcv">&nbsp;</td>
			
			<td class="tpttcv"><GEN:FieldStatistic NAME="TotalAmountGrandTotal" SCOPE="AllPages" TYPE="Sum" /></td>
			
			<td class="tpttcv"><GEN:FieldStatistic NAME="ReceivedGrandTotal" SCOPE="AllPages" TYPE="Sum" /></td>
			
			<td class="tpttcv"><GEN:FieldStatistic NAME="OutstandingGrandTotal" SCOPE="AllPages" TYPE="Sum" /></td>
			
			</tr>
			</GEN:GROUP>
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table><!-- End Table Panel.html --></GEN:TABLE>
</td></tr><tr>
						<td class="pContent">&nbsp;<GEN:TABLE NAME="paymentsTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="paymentsTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="paymentsTotalItemsText" />&nbsp;<GEN:Label NAME="paymentsTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="paymentsSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="paymentsSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("paymentsTableControl$paymentsSearchButton")) %>
		<GEN:SearchFilter NAME="paymentsSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("paymentsTableControl$paymentsSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentsSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="paymentsFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentsFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("paymentsTableControl$paymentsFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="payment_stages_idLabel" /></td>
		<td><GEN:FieldFilter NAME="payment_stages_idFilter" /></td>
	</tr>
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="payment_type_idLabel" /></td>
		<td><GEN:FieldFilter NAME="payment_type_idFilter" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("paymentsTableControl$paymentsFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="paymentsButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentsNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentsEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentsDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentsExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="paymentsHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			
			
			
			<th class="thc" scope="col">&nbsp;</th><th class="thc" scope="col"><GEN:FieldLabel NAME="payment_stages_idLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="datetimeLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="employee_idLabel2" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="payment_type_idLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="notesLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="amountLabel1" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="paymentsRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				
				
				
				
			<td class="ttc" ><GEN:ImageButton NAME="paymentReportButton" /></td><td class="ttc" ><GEN:FieldValue NAME="payment_stages_id" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="datetime2" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="employee_id1" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="payment_type_id" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="notes1" /></td>
			
			<td class="ttc"  style="text-align:right"><GEN:FieldValue NAME="amount1" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			<GEN:GROUP NAME="paymentsGrandTotalGroup">
			<tr>
				
				
			<td class="tpttcv">&nbsp;</td><td class="tpttcv"><GEN:Text NAME="paymentsGrandTotalText" /></td>
			
			<td class="tpttcv">&nbsp;</td>
			
			<td class="tpttcv">&nbsp;</td>
			
			<td class="tpttcv">&nbsp;</td>
			
			<td class="tpttcv">&nbsp;</td>
			
			<td class="tpttcv"><GEN:FieldStatistic NAME="amountGrandTotal" SCOPE="AllPages" TYPE="Sum" /></td>
			
			</tr>
			</GEN:GROUP>
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
</td></tr><tr>
						<td class="pContent">&nbsp;<GEN:TABLE NAME="paymentVariationsTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="paymentVariationsTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="paymentVariationsTotalItemsText" />&nbsp;<GEN:Label NAME="paymentVariationsTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="paymentVariationsSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="paymentVariationsSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("paymentVariationsTableControl$paymentVariationsSearchButton")) %>
		<GEN:SearchFilter NAME="paymentVariationsSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("paymentVariationsTableControl$paymentVariationsSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentVariationsSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="paymentVariationsFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentVariationsFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("paymentVariationsTableControl$paymentVariationsFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="payment_stage_idLabel1" /></td>
		<td><GEN:FieldFilter NAME="payment_stage_idFilter" /></td>
	</tr>
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="employee_idLabel" /></td>
		<td><GEN:FieldFilter NAME="employee_idFilter" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("paymentVariationsTableControl$paymentVariationsFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="paymentVariationsButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentVariationsNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentVariationsEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentVariationsDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="paymentVariationsExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="paymentVariationsHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			
			
			
			<th class="thc" scope="col">&nbsp;</th><th class="thc" scope="col"><GEN:FieldLabel NAME="payment_stage_idLabel2" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="amountLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="notesLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="employee_idLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="datetimeLabel" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="paymentVariationsRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				
				
				
				
			<td class="ttc" ><GEN:ImageButton NAME="variationReportButton" /></td><td class="ttc" ><GEN:FieldValue NAME="payment_stage_id1" /></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FieldValue NAME="amount" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="notes" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="employee_id" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="datetime1" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>

</td></tr>
<tr>
<td>
<GEN:Button FILE="../Shared/ThemeButton.html" NAME="Button" />
</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:Footer FILE="../Header and Footer/Footer.html" NAME="PageFooter" />
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


