<tr onmouseover="this.style.cursor='pointer'; return true;" onclick="clickLinkButtonText(this, event);">
	<td class="mvTL"><img src="../Images/space.gif" height="5" width="8" alt=""/></td>
	<td class="mvT"><img src="../Images/space.gif" height="5" width="10" alt=""/></td>
	<td class="mvTR"><img src="../Images/space.gif" height="5" width="3" alt=""/></td>
 </tr>
 <tr onmouseover="this.style.cursor='pointer'; return true;" onclick="clickLinkButtonText(this, event);">
	<td class="mvL"><img src="../Images/space.gif" height="14" width="8" alt=""/></td>
	<td class="mvC"><GEN:LinkButton Name="Button" CssClass="menu"/></td>
	<td class="mvR"><img src="../Images/space.gif" height="14" width="3" alt=""/></td>
 </tr>
 <tr onmouseover="this.style.cursor='pointer'; return true;" onclick="clickLinkButtonText(this, event);">
	<td class="mvBL"><img src="../Images/space.gif" height="6" width="8" alt=""/></td>
	<td class="mvB"><img src="../Images/space.gif" height="6" width="10" alt=""/></td>
	<td class="mvBR"><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
 </tr>
