﻿<table cellspacing="0" cellpadding="0" border="0">
 <tr>
	<td>
	<img src="../Images/space.gif" width="15" height="1" alt=""/>
	</td>
	<td class="prl">
	<GEN:ImageButton Name="FirstPage" ImageURL="../Images/space.gif" CssClass="prbf"/>
	</td>
	<td class="prl">
	<GEN:ImageButton Name="PreviousPage" ImageURL="../Images/space.gif" CssClass="prbp"/>
	</td>
	<td class="prl" style="padding-right: 6px;"><GEN:Text name="PageText"/>
	<b>
	<GEN:Label Name="CurrentPage" />
	</b><GEN:Text name="OfText"/>
	<b>
	<GEN:Label Name="TotalPages" />
	</b></td>
	<td class="prl">
	<GEN:ImageButton Name="NextPage" ImageURL="../Images/space.gif" CssClass="prbn"/>
	</td>
	<td class="prl">
	<GEN:ImageButton Name="LastPage" ImageURL="../Images/space.gif" CssClass="prbl"/>
	</td>
	<td class="prl"><GEN:Text name="PageSizeText"/> <%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("_PageSizeButton")) %>
	<GEN:TextBox Name="PageSize" /><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("_PageSizeButton")) %></td>
	<td class="prl">
	<GEN:Button Name="PageSizeButton" file="ThemeButton.html"/>
	</td>
	<td class="prl"><GEN:Text Name="TotalItemsText"/>  <GEN:Label Name="TotalItems" /></td>
 </tr>
</table>
