<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Encrypt.aspx.cs" Inherits="Encrypt" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Encrypt Config</title><link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css" /></head>
</head>
<body>
<table width="100%" bgcolor="#FFFFFF"  width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>

		<td align="left">
			<img src="Images/impowa_design_01.jpg" alt="" height="64" width="274"/></td>
		<td background="Images/impowa_design_02.jpg" height="64" width="100%"></td>
		<td align="right">
			<img src="Images/impowa_design_02.jpg" alt="" height="64" width="383"/></td>

</tr>
</table>

<table>
    <tr>
    <td>
    <div id="test" runat="server" >
    <asp:Label ID="test2" runat=server></asp:Label>
    </div>
    </td>
    </tr>
    </table>
    <table width="100%" bgcolor="#FFFFFF"  width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
    <td background="Images/impowa_design_05.jpg" height="64" width="100%"></td>
    <td><asp:Image ID="Image2" runat="server" ImageUrl="~/Images/impowa_design_07.jpg" /></td>
    
    </tr>
    </table> 
</body>
</html>
