﻿<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title>Contract</title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<script language="javascript" src="../RadWindow.js"></script>
	<script>
	function GetWindowManager()
    {
        var oManager = $find("<%=RadWindowManager1.ClientID %>");
        return oManager;
    }
	</script>
	<body id="Body1" runat="server" class="pBack">
		<asp:Label runat="server" ID="scriptHack"></asp:Label>
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:Template DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html" />
		
				<telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
		        <AjaxSettings>
             
                <telerik:AjaxSetting AjaxControlID="View_ContractTradeItemAndTradeTypeDeleteButton">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="contractMainRecordControlUpdatePanel" />
                    </UpdatedControls>
                </telerik:AjaxSetting> 
                 <telerik:AjaxSetting AjaxControlID="contractOtherItemDeleteButton">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="contractMainRecordControlUpdatePanel" />
                    </UpdatedControls>
                </telerik:AjaxSetting> 
                 <telerik:AjaxSetting AjaxControlID="contractBenchtopItemDeleteButton">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="contractMainRecordControlUpdatePanel" />
                    </UpdatedControls>
                </telerik:AjaxSetting> 
                 <telerik:AjaxSetting AjaxControlID="contractDoorItemDeleteButton">
                    <UpdatedControls>
                        <telerik:AjaxUpdatedControl ControlID="contractMainRecordControlUpdatePanel" />
                    </UpdatedControls>
                </telerik:AjaxSetting> 
                
            </AjaxSettings>
        </telerik:RadAjaxManager>
		
		
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Hyperlink NAME="SkipNavigationLinks" />
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Header FILE="../Header and Footer/Header.html" NAME="PageHeader" />
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:Menu FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV" />
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:Menu FILE="../Menu Panels/Menu.html" NAME="Menu" />
					
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent">
							<a name="StartOfPageContent"></a>
							
							<telerik:RadTabStrip ID="RadTabStrip1" runat="server" Skin="Vista"></telerik:RadTabStrip>
							<telerik:RadWindowManager ID="RadWindowManager1" runat="server" Modal="true" Behaviors="Move,Close" VisibleStatusbar="false" ReloadOnShow="true" Width="400px" Height="500px" >
                            <Windows> 
                            <telerik:RadWindow ID="EditWindow" runat="server"></telerik:RadWindow>
                            <telerik:RadWindow ID="StandardWindow" runat="server"></telerik:RadWindow>
                            </Windows>
                            </telerik:RadWindowManager>
							<br />
							<GEN:Insert />
							<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
							<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
						<GEN:RECORD NAME="contractMainRecordControl">
<!-- Begin Record Panel.html -->
<GEN:Template DESCRIPTION="Standard record panel." TYPE="Show One Record" FILE="Record Panels/Show Record - Label on Side.html" />
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("OKButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("SaveButton$_Button")) %>
 <table class="dv" cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dhi"><GEN:Image NAME="contractMainDialogIcon" /></td>
	<td class="dht" valign="middle">
	<GEN:HTML NAME="contractMainDialogTitle" />
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr>
	<td>
	<table id="CollapsibleRegion" style="display:block;" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td class="dBody">
	<table cellpadding="0" cellspacing="3" border="0">
	
	<tr>
	<td class="fls" style="vertical-align:middle"><br/><GEN:Label NAME="viewContractLabel" /></td>
	<td class="dfv" style="vertical-align:text-bottom"><GEN:ImageButton NAME="viewContractButton" /></td><td class="fls"><GEN:Label NAME="Label" /></td><td class="fls"><h3><b><GEN:Label NAME="contractTotal" /></b></h3></td>
	</tr><tr>
	<td class="fls" style="vertical-align:middle"><GEN:Label NAME="Label5" /></td>
	<td class="dfv" style="vertical-align:text-bottom"><GEN:ImageButton NAME="viewCostingsButton" /></td><td class="fls"><GEN:FieldLabel NAME="original_totalLabel" /></td><td class="fls"><h3><b><GEN:FieldValue NAME="original_total" /></b></h3></td>
	</tr><tr>
	<td class="fls">
		<GEN:FieldLabel NAME="account_idLabel" />
	</td>
	<td class="dfv">
		<GEN:FieldValue NAME="account_id" />
	</td><td class="fls"><GEN:FieldLabel NAME="contract_type_idLabel" /></td><td class="dfv"><GEN:FieldValue NAME="contract_type_id" /></td>
	</tr>
	
	<tr>
	<td class="fls">
		<GEN:FieldLabel NAME="date_createdLabel" />
	</td>
	<td class="dfv">
		<GEN:FieldValue NAME="date_created" />
	</td><td class="fls"><GEN:FieldLabel NAME="created_byLabel" /></td><td class="dfv"><GEN:FieldValue NAME="created_by" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls">
		<GEN:FieldLabel NAME="date_modifiedLabel" />
	</td>
	<td class="dfv">
		<GEN:FieldValue NAME="date_modified" />
	</td><td class="fls"><GEN:FieldLabel NAME="modified_byLabel" /></td><td class="dfv"><GEN:FieldValue NAME="modified_by" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls">
		<GEN:FieldLabel NAME="signed_dateLabel" />
	</td>
	<td class="dfv">
		<GEN:FieldValue NAME="signed_date" />
	</td><td class="fls">&nbsp;</td><td class="dfv">&nbsp;</td>
	</tr>
	
	
	
	<tr>
	<td class="fls">
		<GEN:FieldLabel NAME="check_measure_feeLabel" />
	</td>
	<td class="dfv">
		<GEN:FieldValue NAME="check_measure_fee" />
	</td><td class="fls"><GEN:Label NAME="Label3" /></td><td class="dfv"><GEN:FieldValue NAME="second_check_measure_fee" TYPE="Label" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel NAME="difficult_delivery_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="difficult_delivery_fee" /></td><td class="fls"><GEN:Label NAME="Label2" /></td><td class="dfv"><GEN:FieldValue NAME="dual_finish" TYPE="Label" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls"><GEN:Label NAME="HighRiseLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="highrise_fee" TYPE="Label" /></td><td class="fls"><GEN:Label NAME="Label4" /></td><td class="dfv"><GEN:FieldValue NAME="dual_finishes_lessthan_fee" TYPE="Label" /></td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label8" /></td>
	<td class="dfv"><GEN:FieldValue NAME="kickboardsAfterTimberFee" TYPE="Label" /></td><td class="fls"><GEN:Label NAME="Label9" /></td><td class="dfv"><GEN:FieldValue NAME="kickboardsWasherAfterTimber_fee" TYPE="Label" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel NAME="non_metro_delivery_feeLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="non_metro_delivery_fee" /></td><td class="fls"><GEN:FieldLabel Name="door_threshold_feeLabel" /></td><td class="dfv"><GEN:FieldValue Name="door_threshold_fee" /></td>
	</tr>
	
	
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel Name="home_insurance_sentLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="home_insurance_sent" /></td><td class="fls"><GEN:Label NAME="Label1" /></td><td class="dfv"><GEN:FieldValue NAME="bench_threshold_fee" TYPE="Label" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="home_insurance_policyLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="home_insurance_policy" /></td><td class="fls"><GEN:FieldLabel Name="home_insurance_feeLabel" /></td><td class="dfv"><GEN:FieldValue Name="home_insurance_fee" /></td>
	</tr><tr>
	<td class="fls"><GEN:Label NAME="Label6" /></td>
	<td class="dfv"><GEN:FieldValue NAME="designer_fee" TYPE="Label" /></td><td class="fls"><GEN:Label NAME="Label7" /></td><td class="dfv"><GEN:FieldValue NAME="consultation_fee" TYPE="Label" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="estimated_completion_dateLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="estimated_completion_date" /></td><td class="fls"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="editContract" /></td><td class="dfv">&nbsp;</td>
	</tr>
	
	</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
 </table>
 <%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("SaveButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("OKButton$_Button")) %>
<!-- End Record Panel.html -->
</GEN:RECORD>

<table><tr><td>
<GEN:TABLE NAME="contractDoorItemTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="contractDoorItemTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="contractDoorItemTotalItemsText" />&nbsp;<GEN:Label NAME="contractDoorItemTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="contractDoorItemSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="contractDoorItemSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("contractDoorItemTableControl$contractDoorItemSearchButton")) %>
		<GEN:SearchFilter NAME="contractDoorItemSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("contractDoorItemTableControl$contractDoorItemSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractDoorItemSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="contractDoorItemFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractDoorItemFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("contractDoorItemTableControl$contractDoorItemFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="PlaceholderFilterLabel1" /></td>
		<td><GEN:FieldFilter NAME="PlaceholderFilter1" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("contractDoorItemTableControl$contractDoorItemFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="contractDoorItemButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractDoorItemNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractDoorItemEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractDoorItemDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractDoorItemExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="contractDoorItemHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" COLSPAN="1"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:Selection NAME="contractDoorItemToggleAll" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="item_idLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="unit_priceLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="unitsLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="amountLabel" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="contractDoorItemRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:Label NAME="doorRowEdit" /></td>
				
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="contractDoorItemRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue NAME="item_id" /></td>
			
			<td class="ttc" style=";;text-align:right"><GEN:FieldValue NAME="unit_price" /></td>
			
			<td class="ttc" style=";;text-align:right"><GEN:FieldValue NAME="units" /></td>
			
			<td class="ttc" style=";;text-align:right"><GEN:FieldValue NAME="amount" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
</td>
<td><GEN:TABLE NAME="contractBenchtopItemTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="contractBenchtopItemTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="contractBenchtopItemTotalItemsText" />&nbsp;<GEN:Label NAME="contractBenchtopItemTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="contractBenchtopItemSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="contractBenchtopItemSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("contractBenchtopItemTableControl$contractBenchtopItemSearchButton")) %>
		<GEN:SearchFilter NAME="contractBenchtopItemSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("contractBenchtopItemTableControl$contractBenchtopItemSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractBenchtopItemSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="contractBenchtopItemFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractBenchtopItemFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("contractBenchtopItemTableControl$contractBenchtopItemFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="PlaceholderFilterLabel2" /></td>
		<td><GEN:FieldFilter NAME="PlaceholderFilter2" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("contractBenchtopItemTableControl$contractBenchtopItemFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="contractBenchtopItemButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractBenchtopItemNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractBenchtopItemEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractBenchtopItemDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractBenchtopItemExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="contractBenchtopItemHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" COLSPAN="1"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:Selection NAME="contractBenchtopItemToggleAll" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="item_idLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="unit_priceLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="unitsLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="options_amountLabel" /></th><th class="thc" scope="col"><GEN:FieldLabel Name="amount1Label" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="contractBenchtopItemRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:Label NAME="benchRowEdit" /></td>
				
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="contractBenchtopItemRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue NAME="item_id1" /></td>
			
			<td class="ttc" style=";;;text-align:right"><GEN:FieldValue NAME="unit_price1" /></td>
			
			<td class="ttc" style=";;;text-align:right"><GEN:FieldValue NAME="units1" /></td>
			
			<td class="ttc" style=";;;text-align:right"><GEN:FieldValue NAME="options_amount" /></td><td class="ttc" style=";;;text-align:right"><GEN:FieldValue Name="amount1" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>

</td>

</tr>
</table>
<table>
<tr><td>&nbsp;<GEN:TABLE NAME="View_ContractOtherItemWithTypesTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="View_ContractOtherItemWithTypesTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="View_ContractOtherItemWithTypesTotalItemsText" />&nbsp;<GEN:Label NAME="View_ContractOtherItemWithTypesTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="View_ContractOtherItemWithTypesSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="View_ContractOtherItemWithTypesSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_ContractOtherItemWithTypesTableControl$View_ContractOtherItemWithTypesSearchButton")) %>
		<GEN:SearchFilter NAME="View_ContractOtherItemWithTypesSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_ContractOtherItemWithTypesTableControl$View_ContractOtherItemWithTypesSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractOtherItemWithTypesSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="View_ContractOtherItemWithTypesFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractOtherItemWithTypesFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_ContractOtherItemWithTypesTableControl$View_ContractOtherItemWithTypesFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="PlaceholderFilterLabel4" /></td>
		<td><GEN:FieldFilter NAME="PlaceholderFilter4" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_ContractOtherItemWithTypesTableControl$View_ContractOtherItemWithTypesFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="View_ContractOtherItemWithTypesButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractOtherItemWithTypesNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractOtherItemWithTypesEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractOtherItemWithTypesDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractOtherItemWithTypesExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="View_ContractOtherItemWithTypesHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			
			<th class="thc" style="padding:0px;vertical-align:middle;">&nbsp;</th><th class="thc" style="padding:0px;vertical-align:middle;"><GEN:Selection NAME="View_ContractOtherItemWithTypesToggleAll" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="item_idLabel2" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="unit_priceLabel2" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="unitsLabel3" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="amountLabel2" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="View_ContractOtherItemWithTypesRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				
				
				<td class="tic" scope="row"><GEN:Label NAME="splashbackRowEdit" /></td><td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="View_ContractOtherItemWithTypesRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue NAME="item_id2" /></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FieldValue NAME="unit_price2" /></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FieldValue NAME="units4" /></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FieldValue NAME="amount4" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
<GEN:Insert TYPE="Panel" />
<GEN:Insert TYPE="Panel" /></td>
<td>&nbsp;</td>

</tr><tr><td><GEN:TABLE NAME="contractOtherItemTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="contractOtherItemTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="contractOtherItemTotalItemsText" />&nbsp;<GEN:Label NAME="contractOtherItemTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="contractOtherItemSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="contractOtherItemSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("contractOtherItemTableControl$contractOtherItemSearchButton")) %>
		<GEN:SearchFilter NAME="contractOtherItemSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("contractOtherItemTableControl$contractOtherItemSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractOtherItemSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="contractOtherItemFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractOtherItemFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("contractOtherItemTableControl$contractOtherItemFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="PlaceholderFilterLabel3" /></td>
		<td><GEN:FieldFilter NAME="PlaceholderFilter3" /></td>
	</tr><tr>
		<td class="fila"><GEN:FieldLabel Name="contract_item_type1Label" /></td>
		<td><GEN:FieldFilter Name="contract_item_typeFilter" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("contractOtherItemTableControl$contractOtherItemFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="contractOtherItemButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractOtherItemNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractOtherItemEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractOtherItemDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="contractOtherItemExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="contractOtherItemHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" COLSPAN="1"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:Selection NAME="contractOtherItemToggleAll" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel Name="contract_item_typeLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel Name="item_id1Label" /></th>
			
			<th class="thc" scope="col">&nbsp;<GEN:FieldLabel Name="unit_price1Label" /></th>
			
			<th class="thc" scope="col">&nbsp;<GEN:FieldLabel Name="units1Label" /></th><th class="thc" scope="col"><GEN:FieldLabel Name="amount2Label" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="contractOtherItemRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:Label NAME="otherRowEdit" /></td>
				
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="contractOtherItemRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue Name="contract_item_type" /></td>
			
			<td class="ttc" style="text-align: left;"><GEN:FieldValue Name="item_id3" /></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FieldValue Name="unit_price3" /></td>
			
			<td class="ttc" style="text-align: right;">&nbsp;<GEN:FieldValue Name="units3" /></td><td class="ttc" ><GEN:FieldValue Name="amount3" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
</td>
<td>&nbsp;</td>

</tr><tr><td>&nbsp;<GEN:TABLE NAME="View_ContractTradeItemAndTradeTypeTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="View_ContractTradeItemAndTradeTypeTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="View_ContractTradeItemAndTradeTypeTotalItemsText" />&nbsp;<GEN:Label NAME="View_ContractTradeItemAndTradeTypeTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="View_ContractTradeItemAndTradeTypeSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="View_ContractTradeItemAndTradeTypeSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_ContractTradeItemAndTradeTypeTableControl$View_ContractTradeItemAndTradeTypeSearchButton")) %>
		<GEN:SearchFilter NAME="View_ContractTradeItemAndTradeTypeSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_ContractTradeItemAndTradeTypeTableControl$View_ContractTradeItemAndTradeTypeSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractTradeItemAndTradeTypeSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="View_ContractTradeItemAndTradeTypeFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractTradeItemAndTradeTypeFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_ContractTradeItemAndTradeTypeTableControl$View_ContractTradeItemAndTradeTypeFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="TradeLabel" /></td>
		<td><GEN:FieldFilter NAME="TradeFilter" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_ContractTradeItemAndTradeTypeTableControl$View_ContractTradeItemAndTradeTypeFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="View_ContractTradeItemAndTradeTypeButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractTradeItemAndTradeTypeNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractTradeItemAndTradeTypeEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractTradeItemAndTradeTypeDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_ContractTradeItemAndTradeTypeExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="View_ContractTradeItemAndTradeTypeHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" COLSPAN="1"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:Selection NAME="View_ContractTradeItemAndTradeTypeToggleAll" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="TradeLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="trade_task_idLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="priceLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="unitsLabel2" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="amountLabel1" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="View_ContractTradeItemAndTradeTypeRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:Label NAME="tradeRowEdit" /></td>
				
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="View_ContractTradeItemAndTradeTypeRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue NAME="Trade" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="trade_task_id" /></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FieldValue NAME="price" /></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FieldValue NAME="units2" /></td>
			
			<td class="ttc" style="text-align: right;"><GEN:FieldValue NAME="amount2" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>
<br/>
<br/>
<GEN:Insert TYPE="Panel" />
<br/>
<br/>
<GEN:Insert TYPE="Panel" /></td>
<td>&nbsp;</td>

</tr></table>


<GEN:GROUP NAME="PageButtons">
<table cellpadding="0" cellspacing="0" border="0" id="Table1">
	<tr>
	<td class="rpbAlign">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="OKButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="SaveButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="CancelButton" /></td>
	</tr>
	</table>
	</td>
	</tr>
</table>
</GEN:GROUP>
</td>
						</tr>
						</table>
					</td>
					</tr>
					<tr>
					<td>&nbsp;</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:Footer FILE="../Header and Footer/Footer.html" NAME="PageFooter" />
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


