﻿<%@ Page Language="C#" EnableEventValidation="false" AutoEventWireup="false" CodeFile="EditProjectPage.aspx.cs" Inherits="WKCRM.UI.EditProjectPage" %>
<%@ Register Tagprefix="Selectors" Namespace="WKCRM" %>

<%@ Register Tagprefix="WKCRM" TagName="Header" Src="../Header and Footer/Header.ascx" %>

<%@ Register Tagprefix="WKCRM" TagName="Menu" Src="../Menu Panels/Menu.ascx" %>

<%@ Register Tagprefix="WKCRM" TagName="Footer" Src="../Header and Footer/Footer.ascx" %>

<%@ Register Tagprefix="BaseClasses" Namespace="BaseClasses.Web.UI.WebControls" Assembly="BaseClasses" %>
<%@ Register Tagprefix="WKCRM" Namespace="WKCRM.UI.Controls.EditProjectPage" %>

<%@ Register Tagprefix="WKCRM" TagName="ThemeButton" Src="../Shared/ThemeButton.ascx" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Reference Control="../Shared/AppointmentToolTip.ascx" %>
<%@ register src="~/Shared/Appointment.ascx" tagname="AptSummary" tagprefix="Apt" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
        <link href="../Styles/RadSkins/Scheduler.Mac.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<script language="javascript" src="../RadWindow.js"></script>
	
	<script>
	function AppointmentDblClicked(sender,eventArgs)
	{
	    var myApt = eventArgs.get_appointment();
	    OpenWindow('../tasks/EditTasksPage.aspx?tasks=' + myApt.get_id(), 'StandardWindow');    
	}
	
	function AppointmentInserting(sender,eventArgs)
	{
	    var dateTime = eventArgs.get_startTime();
	    var projectID = '<%=Request["Project"] %>';
	    var startTime = formatDate(dateTime);
	    OpenWindow('../tasks/AddTasksPage.aspx?project=' + projectID + "&start=" + startTime,'StandardWindow');
	}

	function RefreshAjax(radWindow, eventArgs) {
	    var ajaxManager = $find("<%=RadAjaxManager1.ClientID%>");
	    if (eventArgs.get_argument() != null) {
	        if (ajaxManager != null) {
	            ajaxManager.ajaxRequest(eventArgs.get_argument());
	        }
	    }
	    return;
	}

	</script>
	
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<script language="JavaScript" type="text/javascript">clearRTL()</script>
		<asp:ScriptManager ID="scriptManager1" runat="server" EnablePartialRendering="True" EnablePageMethods="True" />
		
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<asp:HyperLink runat="server" id="SkipNavigationLinks" CssClass="skipNavigationLinks" NavigateURL="#StartOfPageContent" Text="&lt;%# GetResourceValue(&quot;Txt:SkipNavigation&quot;, &quot;WKCRM&quot;) %>" ToolTip="&lt;%# GetResourceValue(&quot;Txt:SkipNavigation&quot;, &quot;WKCRM&quot;) %>">

		</asp:HyperLink>
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<WKCRM:Header runat="server" id="PageHeader">
		</WKCRM:Header>
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<WKCRM:Menu runat="server" id="Menu" HiliteSettings="Menu3MenuItem">
		</WKCRM:Menu>
					</td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
	<td class="pContent">
	<telerik:RadWindow ID="StandardWindow" runat="server" Modal="true" Behaviors="Move,Close" VisibleStatusbar="false" ReloadOnShow="true" Width="550px" Height="450" OnClientClose="RefreshAjax"></telerik:RadWindow>
	<div>
                        <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server" DefaultLoadingPanelID="RadAjaxLoadingPanel1">
                            <AjaxSettings>
                                <telerik:AjaxSetting AjaxControlID="RadScheduler1">
                                    <UpdatedControls>
                                        <telerik:AjaxUpdatedControl ControlID="RadScheduler1" />
                                        <telerik:AjaxUpdatedControl ControlID="RadToolTipManager1" />
                                    </UpdatedControls>
                                </telerik:AjaxSetting>
                                <telerik:AjaxSetting AjaxControlID="RadAjaxManager1">
                                    <UpdatedControls>
                                         <telerik:AjaxUpdatedControl ControlID="RadAjaxManager1" />
                                        <telerik:AjaxUpdatedControl ControlID="RadScheduler1" />
                                        <telerik:AjaxUpdatedControl ControlID="RadToolTipManager1" />
                                          <telerik:AjaxUpdatedControl ControlID="projectRecordControl" />
                                        <telerik:AjaxUpdatedControl ControlID="View_TradesmenTasksTableControl" />
                                    </UpdatedControls>
                                </telerik:AjaxSetting>
                            </AjaxSettings>
                        </telerik:RadAjaxManager>
                                    
                        <telerik:RadScheduler ID="RadScheduler1" runat="server" DataKeyField="ID" DataSubjectField="Subject" DataStartField="Start" DataEndField="End" >
                        <AppointmentTemplate>
                             <Apt:AptSummary ID="aptDetails" runat="server" />
                        </AppointmentTemplate>
                        </telerik:RadScheduler>
                        
                         <telerik:RadToolTipManager runat="server" ID="RadToolTipManager1"
                                            Width="300" Height="100" Skin="Vista"
                                            Animation="Resize" Position="BottomRight" HideEvent="LeaveToolTip" Text="Loading..." />
                        
                        
                        <telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingPanel1" runat="server" Height="75px" IsSticky="False" Width="75px">
                            <asp:Image ID="Image1" runat="server" AlternateText="Loading..." ImageUrl="../Images/Loading.gif" />
                        </telerik:RadAjaxLoadingPanel>
                    </div>
	
	</td>
	</tr>
						<tr>
						<td class="pContent"><a name="StartOfPageContent"></a><WKCRM:projectRecordControl runat="server" id="projectRecordControl">
					
<!-- Begin Record Panel.html -->
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("SaveButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("CancelButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("OKButton$_Button")) %><table class="dv" cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dhi"><asp:Image ImageUrl="../Images/icon_edit.gif" runat="server" id="projectDialogIcon" AlternateText="">

					</asp:Image></td>
	<td class="dht" valign="middle">
	<asp:Literal runat="server" id="projectDialogTitle" Text="Edit Project">
					</asp:Literal>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr>
	<td>
	<table id="CollapsibleRegion" style="display:block;" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td class="dBody">
	<table cellpadding="0" cellspacing="3" border="0">
	
	<tr>
	<td class="fls"><asp:Literal runat="server" id="project_managerLabel" Text="Project Manager">
					</asp:Literal></td>
	<td class="dfv"><asp:DropDownList runat="server" id="project_manager" CssClass="field_input" onkeypress="dropDownListTypeAhead(this,false)">
					</asp:DropDownList>
					<Selectors:FvLlsHyperLink runat="server" id="project_managerFvLlsHyperLink" ControlToUpdate="project_manager" Text="&lt;%# GetResourceValue(&quot;LLS:Text&quot;, &quot;WKCRM&quot;) %>" Table="employee" Field="Employee_.id" DisplayField="Employee_.name">					</Selectors:FvLlsHyperLink>&nbsp;
					<asp:RequiredFieldValidator runat="server" id="project_managerRequiredFieldValidator" ControlToValidate="project_manager" ErrorMessage="&lt;%# GetResourceValue(&quot;Val:ValueIsRequired&quot;, &quot;WKCRM&quot;).Replace(&quot;{FieldName}&quot;, &quot;Project Manager&quot;) %>" Enabled="True" InitialValue="--PLEASE_SELECT--" Text="*">					</asp:RequiredFieldValidator></td><td class="dfv"><asp:ImageButton runat="server" id="viewReport" CausesValidation="False" CommandName="Redirect" Consumers="page" ImageURL="../Images/file_small_pdf.gif" RedirectURL="../Reports/ShowReport.aspx?reportID=14&amp;recordId={projectRecordControl:FV:id}" ToolTip="View Project Schedule Summary" AlternateText="">

					</asp:ImageButton></td><td class="dfv"><asp:ImageButton runat="server" id="emailReport" CausesValidation="True" CommandName="Custom" ImageURL="../Images/mail_forward.png" ToolTip="Email Project Schedule Summary to Client" AlternateText="">

					</asp:ImageButton></td>
	</tr><tr>
	<td class="fls"><asp:Literal runat="server" id="date_createdLabel" Text="Date Created">
					</asp:Literal></td>
	<td class="dfv"><asp:Label runat="server" id="date_created">
					</asp:Label></td><td class="fls"><asp:Literal runat="server" id="created_byLabel" Text="Created By">
					</asp:Literal></td><td class="dfv"><asp:Label runat="server" id="created_by">
					</asp:Label></td>
	</tr><tr>
	<td class="fls"><asp:Literal runat="server" id="date_modifiedLabel" Text="Date Modified">
					</asp:Literal></td>
	<td class="dfv"><asp:Label runat="server" id="date_modified">
					</asp:Label></td><td class="fls"><asp:Literal runat="server" id="modified_byLabel" Text="Modified By">
					</asp:Literal></td><td class="dfv"><asp:Label runat="server" id="modified_by">
					</asp:Label></td>
	</tr>
	
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	
 </table><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("OKButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("CancelButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("SaveButton$_Button")) %><!-- End Record Panel.html -->
		</WKCRM:projectRecordControl><asp:UpdateProgress runat="server" id="View_TradesmenTasksTableControlUpdateProgress" AssociatedUpdatePanelID="View_TradesmenTasksTableControlUpdatePanel">
										<ProgressTemplate>
											<div style="position:absolute;   width:100%;height:1000px;background-color:#000000;filter:alpha(opacity=10);opacity:0.20;-moz-opacity:0.20;padding:20px;">
											</div>
											<div style=" position:absolute; padding:30px;">
												<img src="../Images/updating.gif">
											</div>
										</ProgressTemplate>
									</asp:UpdateProgress>
									<asp:UpdatePanel runat="server" id="View_TradesmenTasksTableControlUpdatePanel" UpdateMode="Conditional">

										<ContentTemplate>
											<WKCRM:View_TradesmenTasksTableControl runat="server" id="View_TradesmenTasksTableControl">
														
<!-- Begin Table Panel.html -->

<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><asp:Literal runat="server" id="View_TradesmenTasksTableTitle" Text="Project Tasks">
														</asp:Literal></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><%# GetResourceValue("Txt:TotalItems", "WKCRM") %>&nbsp;<asp:Label runat="server" id="View_TradesmenTasksTotalItems">
														</asp:Label></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_TradesmenTasksTableControl$View_TradesmenTasksSearchButton")) %>
		
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_TradesmenTasksTableControl$View_TradesmenTasksSearchButton")) %>
		</td>
		<td class="filbc"></td>
	</tr>
	
	
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_TradesmenTasksTableControl$View_TradesmenTasksFilterButton")) %>	
	
	<tr>
		<td class="fila"><asp:Literal runat="server" id="task_type_idLabel" Text="Task Type">
															</asp:Literal></td>
		<td><asp:DropDownList runat="server" id="task_type_idFilter" CssClass="Filter_Input" onkeypress="dropDownListTypeAhead(this,false)" AutoPostBack="True">
															</asp:DropDownList></td>
	</tr>
	
	<tr>
		<td class="fila"><asp:Literal runat="server" id="TaskAcknowledgedLabel" Text="Task Acknowledged">
															</asp:Literal></td>
		<td><asp:DropDownList runat="server" id="TaskAcknowledgedFilter" CssClass="Filter_Input" onkeypress="dropDownListTypeAhead(this,false)" AutoPostBack="True">
															</asp:DropDownList></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_TradesmenTasksTableControl$View_TradesmenTasksFilterButton")) %>
	
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			
			
			
			
			<td class="prbbc">
			
			</td>
			
			<td class="prbbc">
			<WKCRM:ThemeButton runat="server" id="View_TradesmenTasksDeleteButton" Button-CausesValidation="False" Button-CommandName="DeleteRecord" Button-Text="&lt;%# GetResourceValue(&quot;Btn:Delete&quot;, &quot;WKCRM&quot;) %>" ConfirmMessage="&lt;%# GetResourceValue(&quot;DeleteConfirm&quot;, &quot;WKCRM&quot;) %>">
															</WKCRM:ThemeButton>
			</td>
			
			<td class="prbbc">
			
			</td>
			
			
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			
			<th class="thc" style="padding:0px;vertical-align:middle;"><asp:CheckBox runat="server" id="View_TradesmenTasksToggleAll" onclick="toggleAllCheckboxes(this);">

															</asp:CheckBox></th>
			
			<th class="thc" scope="col"><asp:LinkButton runat="server" id="datetimeLabel" Text="Start Date Time" CausesValidation="False">
															</asp:LinkButton></th><th class="thc" scope="col"><asp:Label runat="server" id="Label" Text="End Date Time">
															</asp:Label></th>
			
			<th class="thc" scope="col"><asp:Literal runat="server" id="tradesman_idLabel" Text="Tradesman">
															</asp:Literal></th>
			
			<th class="thc" scope="col"><asp:Literal runat="server" id="task_type_idLabel1" Text="Task Type">
															</asp:Literal></th>
			
			<th class="thc" scope="col"><asp:Literal runat="server" id="notesLabel" Text="Notes">
															</asp:Literal></th>
			
			<th class="thc" scope="col"><asp:Literal runat="server" id="TaskAcknowledgedLabel1" Text="Task Acknowledged">
															</asp:Literal></th>
			
			</tr>
			</div>
			
			<!-- Table Rows -->
			<asp:Repeater runat="server" id="View_TradesmenTasksTableControlRepeater">
																<ITEMTEMPLATE>
																		<WKCRM:View_TradesmenTasksTableControlRow runat="server" id="View_TradesmenTasksTableControlRow">
																				
			<div id="AJAXUpdateRecordRow">
			<tr>
				
				
				<td class="tic" onclick="moveToThisTableRow(this);"><asp:CheckBox runat="server" id="View_TradesmenTasksRecordRowSelection">

																				</asp:CheckBox></td>
				
			<td class="ttc" ><asp:Literal runat="server" id="datetime1">
																				</asp:Literal></td><td class="ttc" ><asp:Label runat="server" id="EndDateTime">
																				</asp:Label></td>
			
			<td class="ttc" ><asp:Literal runat="server" id="tradesman_id">
																				</asp:Literal></td>
			
			<td class="ttc" ><asp:Literal runat="server" id="task_type_id">
																				</asp:Literal></td>
			
			<td class="ttc" ><asp:Literal runat="server" id="notes">
																				</asp:Literal></td>
			
			<td class="ttc" ><asp:Literal runat="server" id="TaskAcknowledged">
																				</asp:Literal></td>
			
			</tr>
			</div>
			
																		</WKCRM:View_TradesmenTasksTableControlRow>
																</ITEMTEMPLATE>
														</asp:Repeater>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->

											</WKCRM:View_TradesmenTasksTableControl>

										</ContentTemplate>
									</asp:UpdatePanel>
								





<table cellpadding="0" cellspacing="0" border="0" id="Table1">
	<tr>
	<td class="rpbAlign">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><WKCRM:ThemeButton runat="server" id="SaveButton" Button-CausesValidation="True" Button-CommandName="UpdateData" Button-RedirectArgument="updatedata" Button-RedirectURL="Back" Button-Text="&lt;%# GetResourceValue(&quot;Btn:Save&quot;, &quot;WKCRM&quot;) %>">
									</WKCRM:ThemeButton></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><WKCRM:ThemeButton runat="server" id="CancelButton" Button-CausesValidation="False" Button-CommandName="Redirect" Button-RedirectURL="Back" Button-Text="&lt;%# GetResourceValue(&quot;Btn:Cancel&quot;, &quot;WKCRM&quot;) %>">
									</WKCRM:ThemeButton></td>
	</tr>
	</table>
	</td>
	</tr>
</table>
<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div><div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div><br/><br/>
</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<WKCRM:Footer runat="server" id="PageFooter">
								</WKCRM:Footer>
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>



