﻿<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Reference Control="../Shared/AppointmentToolTip.ascx" %>
<%@ register src="~/Shared/Appointment.ascx" tagname="AptSummary" tagprefix="Apt" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
        <link href="../Styles/RadSkins/Scheduler.Mac.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<script language="javascript" src="../RadWindow.js"></script>
	
	<script>
	function AppointmentDblClicked(sender,eventArgs)
	{
	    var myApt = eventArgs.get_appointment();
	    OpenWindow('../tasks/EditTasksPage.aspx?tasks=' + myApt.get_id(), 'StandardWindow');    
	}
	
	function AppointmentInserting(sender,eventArgs)
	{
	    var dateTime = eventArgs.get_startTime();
	    var projectID = '<%=Request["Project"] %>';
	    var startTime = formatDate(dateTime);
	    OpenWindow('../tasks/AddTasksPage.aspx?project=' + projectID + "&start=" + startTime,'StandardWindow');
	}

	function RefreshAjax(radWindow, eventArgs) {
	    var ajaxManager = $find("<%=RadAjaxManager1.ClientID%>");
	    if (eventArgs.get_argument() != null) {
	        if (ajaxManager != null) {
	            ajaxManager.ajaxRequest(eventArgs.get_argument());
	        }
	    }
	    return;
	}

	</script>
	
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:Template DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html" />
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Hyperlink NAME="SkipNavigationLinks" />
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Header FILE="../Header and Footer/Header.html" NAME="PageHeader" />
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:Menu FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV" />
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:Menu FILE="../Menu Panels/Menu.html" NAME="Menu" />
					</td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
	<td class="pContent">
	<telerik:RadWindow ID="StandardWindow" runat="server" Modal="true" Behaviors="Move,Close" VisibleStatusbar="false" ReloadOnShow="true" Width="550px" Height="450" OnClientClose="RefreshAjax"></telerik:RadWindow>
	<div>
                        <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server" DefaultLoadingPanelID="RadAjaxLoadingPanel1">
                            <AjaxSettings>
                                <telerik:AjaxSetting AjaxControlID="RadScheduler1">
                                    <UpdatedControls>
                                        <telerik:AjaxUpdatedControl ControlID="RadScheduler1" />
                                        <telerik:AjaxUpdatedControl ControlID="RadToolTipManager1" />
                                    </UpdatedControls>
                                </telerik:AjaxSetting>
                                <telerik:AjaxSetting AjaxControlID="RadAjaxManager1">
                                    <UpdatedControls>
                                         <telerik:AjaxUpdatedControl ControlID="RadAjaxManager1" />
                                        <telerik:AjaxUpdatedControl ControlID="RadScheduler1" />
                                        <telerik:AjaxUpdatedControl ControlID="RadToolTipManager1" />
                                          <telerik:AjaxUpdatedControl ControlID="projectRecordControl" />
                                        <telerik:AjaxUpdatedControl ControlID="View_TradesmenTasksTableControl" />
                                    </UpdatedControls>
                                </telerik:AjaxSetting>
                            </AjaxSettings>
                        </telerik:RadAjaxManager>
                                    
                        <telerik:RadScheduler ID="RadScheduler1" runat="server" DataKeyField="ID" DataSubjectField="Subject" DataStartField="Start" DataEndField="End" >
                        <AppointmentTemplate>
                             <Apt:AptSummary ID="aptDetails" runat="server" />
                        </AppointmentTemplate>
                        </telerik:RadScheduler>
                        
                         <telerik:RadToolTipManager runat="server" ID="RadToolTipManager1"
                                            Width="300" Height="100" Skin="Vista"
                                            Animation="Resize" Position="BottomRight" HideEvent="LeaveToolTip" Text="Loading..." />
                        
                        
                        <telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingPanel1" runat="server" Height="75px" IsSticky="False" Width="75px">
                            <asp:Image ID="Image1" runat="server" AlternateText="Loading..." ImageUrl="../Images/Loading.gif" />
                        </telerik:RadAjaxLoadingPanel>
                    </div>
	
	</td>
	</tr>
						<tr>
						<td class="pContent"><a name="StartOfPageContent"></a><GEN:RECORD NAME="projectRecordControl">
<!-- Begin Record Panel.html --><GEN:Template DESCRIPTION="Standard record panel." TYPE="Edit One Record" FILE="Record Panels/Edit Record - Label on Side.html" />
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("SaveButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("CancelButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("OKButton$_Button")) %><table class="dv" cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dhi"><GEN:Image NAME="projectDialogIcon" /></td>
	<td class="dht" valign="middle">
	<GEN:HTML NAME="projectDialogTitle" />
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr>
	<td>
	<table id="CollapsibleRegion" style="display:block;" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td class="dBody">
	<table cellpadding="0" cellspacing="3" border="0">
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="project_managerLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="project_manager" /></td><td class="dfv"><GEN:ImageButton NAME="viewReport" /></td><td class="dfv"><GEN:ImageButton NAME="emailReport" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="date_createdLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="date_created" /></td><td class="fls"><GEN:FieldLabel Name="created_byLabel" /></td><td class="dfv"><GEN:FieldValue Name="created_by" /></td>
	</tr><tr>
	<td class="fls"><GEN:FieldLabel Name="date_modifiedLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="date_modified" /></td><td class="fls"><GEN:FieldLabel Name="modified_byLabel" /></td><td class="dfv"><GEN:FieldValue Name="modified_by" /></td>
	</tr>
	
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	
 </table><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("OKButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("CancelButton$_Button")) %><%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("SaveButton$_Button")) %><!-- End Record Panel.html --></GEN:RECORD><GEN:TABLE NAME="View_TradesmenTasksTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="View_TradesmenTasksTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="View_TradesmenTasksTotalItemsText" />&nbsp;<GEN:Label NAME="View_TradesmenTasksTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="View_TradesmenTasksSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="View_TradesmenTasksSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_TradesmenTasksTableControl$View_TradesmenTasksSearchButton")) %>
		<GEN:SearchFilter NAME="View_TradesmenTasksSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_TradesmenTasksTableControl$View_TradesmenTasksSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_TradesmenTasksSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="View_TradesmenTasksFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_TradesmenTasksFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("View_TradesmenTasksTableControl$View_TradesmenTasksFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="task_type_idLabel" /></td>
		<td><GEN:FieldFilter NAME="task_type_idFilter" /></td>
	</tr>
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="TaskAcknowledgedLabel" /></td>
		<td><GEN:FieldFilter NAME="TaskAcknowledgedFilter" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("View_TradesmenTasksTableControl$View_TradesmenTasksFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="View_TradesmenTasksButtons">
			
			
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_TradesmenTasksEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_TradesmenTasksDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="View_TradesmenTasksExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="View_TradesmenTasksHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:Selection NAME="View_TradesmenTasksToggleAll" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="datetimeLabel" /></th><th class="thc" scope="col"><GEN:Label NAME="Label" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="tradesman_idLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="task_type_idLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="notesLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="TaskAcknowledgedLabel1" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="View_TradesmenTasksRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				
				
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="View_TradesmenTasksRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue NAME="datetime1" /></td><td class="ttc" ><GEN:FieldValue NAME="EndDateTime" TYPE="Label" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="tradesman_id" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="task_type_id" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="notes" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="TaskAcknowledged" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>




<GEN:GROUP NAME="PageButtons">
<table cellpadding="0" cellspacing="0" border="0" id="Table1">
	<tr>
	<td class="rpbAlign">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="OKButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="SaveButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="CancelButton" /></td>
	</tr>
	</table>
	</td>
	</tr>
</table></GEN:GROUP>
<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div><div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div><br/><br/><GEN:Insert TYPE="Panel" />
</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:Footer FILE="../Header and Footer/Footer.html" NAME="PageFooter" />
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


