﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head id="Head1" runat="server">
	<title> Wonderful Kitchens CRM v1.0 </title>
	<link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/Style.css"/>
	</head>
	<body id="Body1" runat="server" class="pBack">
	<form id="Form1" method="post" runat="server">
		<BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
		<BaseClasses:BasePageSettings id="PageSettings" runat="server" LoginRequired="NOT_ANONYMOUS" ></BaseClasses:BasePageSettings>
		<GEN:Template DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Master Page.html" />
<!-- PAGE ALREADY PROCESSED - DO NOT REMOVE THIS LINE -->
<table width="100%"><tr><td style="width:15%"></td><td style="width:70%">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
		<tr>
		<td class="pAlign">
		<table cellspacing="0" cellpadding="0" border="0" class="pbTable">
			<tr>
			<td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbT"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
			</tr>
			<tr>
			<td class="pbL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbC">
			<table cellspacing="0" cellpadding="0" border="0" class="pcTable">
			<tr>
				<td class="pcTL"></td>
				<td class="pcT">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Hyperlink NAME="SkipNavigationLinks" />
				</td>
				</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
				<td>
					<GEN:Header FILE="../Header and Footer/Header.html" NAME="PageHeader" />
				</td>
				</tr>
				</table>
				</td>
				<td class="pcTR"></td>
			</tr>
			<tr>
				<td class="pcL">
					<GEN:Menu FILE="../Menu Panels/VerticalMenu.html" NAME="MenuV" />
				</td>
				<td class="pcC">			
					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					<tr>
					<td>
						<GEN:Menu FILE="../Menu Panels/Menu.html" NAME="Menu" />
					</td>
					</tr><tr>
					<td>&nbsp;<GEN:Menu FILE="../Menu Panels/Menu2.html" NAME="Menu1" /></td>
					</tr>
					<tr>
					<td>
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
						<td class="pContent">
							<a name="StartOfPageContent"></a>
							<GEN:RECORD NAME="accountRecordControl">
<!-- Begin Record Panel.html -->
<GEN:Template DESCRIPTION="Standard record panel." TYPE="Show One Record" FILE="Record Panels/Show Record - Label on Side.html" />
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("OKButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("SaveButton$_Button")) %>
 <table class="dv" cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dhi"><GEN:Image NAME="accountDialogIcon" /></td>
	<td class="dht" valign="middle">
	<GEN:HTML NAME="accountDialogTitle" />
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
	</tr>
	<tr>
	<td>
	<table id="CollapsibleRegion" style="display:block;" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<td class="dBody">
	<table cellpadding="0" cellspacing="3" border="0">
	
	<tr>
	<td class="fls"><GEN:FieldLabel Name="date_createdLabel" /></td>
	<td class="dfv"><GEN:FieldValue Name="date_created" /></td><td class="dfv">&nbsp;</td><td class="dfv">&nbsp;</td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="NameLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="Name" /></td><td class="fls"><GEN:FieldLabel NAME="home_phoneLabel" /></td><td class="dfv"><GEN:FieldValue NAME="home_phone" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="business_phoneLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="business_phone" /></td><td class="fls"><GEN:FieldLabel NAME="mobileLabel" /></td><td class="dfv"><GEN:FieldValue NAME="mobile" /></td>
	</tr>
	
	
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="addressLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="address" /></td><td class="fls"><GEN:FieldLabel NAME="suburbLabel" /></td><td class="dfv"><GEN:FieldValue NAME="suburb" /></td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="postcodeLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="postcode" /></td><td class="fls"><GEN:FieldLabel NAME="emailLabel" /></td><td class="dfv"><GEN:FieldValue NAME="email" /></td>
	</tr>
	
	
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="faxLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="fax" /></td><td class="fls"><GEN:FieldLabel NAME="designer_idLabel" /></td><td class="dfv"><GEN:FieldValue NAME="designer_id" /></td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="account_type_idLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="account_type_id" /></td><td class="fls"><GEN:FieldLabel NAME="account_status_idLabel" /></td><td class="dfv"><GEN:FieldValue NAME="account_status_id" /></td>
	</tr>
	
	
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="next_review_dateLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="next_review_date" /></td><td class="fls"><GEN:FieldLabel NAME="has_been_revivedLabel" /></td><td class="dfv"><GEN:FieldValue NAME="has_been_revived" /></td>
	</tr>
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="advertise_source_idLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="advertise_source_id" /></td><td class="fls"><GEN:FieldLabel NAME="opportunity_source_idLabel" /></td><td class="dfv"><GEN:FieldValue NAME="opportunity_source_id" /></td>
	</tr>
	
	
	
	<tr>
	<td class="fls"><GEN:FieldLabel NAME="revived_reasonLabel" /></td>
	<td class="dfv"><GEN:FieldValue NAME="revived_reason" /></td><td class="fls"><GEN:FieldLabel NAME="left_reasonLabel" /></td><td class="dfv"><GEN:FieldValue NAME="left_reason" /></td>
	</tr>
	
	</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
 </table>
 <%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("SaveButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("CancelButton$_Button")) %>
<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("OKButton$_Button")) %>
<!-- End Record Panel.html -->
</GEN:RECORD>
<br/>
<br/>
<GEN:TABLE NAME="communicationTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="communicationTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="communicationTotalItemsText" />&nbsp;<GEN:Label NAME="communicationTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="communicationSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="communicationSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("communicationTableControl$communicationSearchButton")) %>
		<GEN:SearchFilter NAME="communicationSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("communicationTableControl$communicationSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="communicationSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="communicationFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="communicationFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("communicationTableControl$communicationFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel Name="PlaceholderLabel" /></td>
		<td><GEN:FieldFilter Name="PlaceholderFilter" /></td>
	</tr>
	
	
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("communicationTableControl$communicationFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="communicationButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="communicationNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="communicationEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="communicationDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="communicationExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="communicationHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" colspan="2"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="datetimeLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="employee_idLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="notesLabel" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="communicationRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:ImageButton NAME="communicationRecordRowEditButton" /></td>
				<td class="tic"><GEN:ImageButton NAME="communicationRecordRowViewButton" /></td>
				
				
			<td class="ttc" ><GEN:FieldValue NAME="datetime1" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="employee_id" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="notes" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE><GEN:TABLE NAME="leadMeetingsTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="leadMeetingsTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="leadMeetingsTotalItemsText" />&nbsp;<GEN:Label NAME="leadMeetingsTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="leadMeetingsSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="leadMeetingsSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("leadMeetingsTableControl$leadMeetingsSearchButton")) %>
		<GEN:SearchFilter NAME="leadMeetingsSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("leadMeetingsTableControl$leadMeetingsSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="leadMeetingsSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="leadMeetingsFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="leadMeetingsFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("leadMeetingsTableControl$leadMeetingsFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="PlaceholderFilterLabel1" /></td>
		<td><GEN:FieldFilter NAME="PlaceholderFilter2" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("leadMeetingsTableControl$leadMeetingsFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="leadMeetingsButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="leadMeetingsNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="leadMeetingsEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="leadMeetingsDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="leadMeetingsExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="leadMeetingsHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" colspan="2"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="datetimeLabel" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="designer_idLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="addressLabel1" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="onsiteLabel" /></th>
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="leadMeetingsRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:ImageButton NAME="leadMeetingsRecordRowEditButton" /></td>
				<td class="tic"><GEN:ImageButton NAME="leadMeetingsRecordRowViewButton" /></td>
				
				
			<td class="ttc" ><GEN:FieldValue NAME="datetime2" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="designer_id1" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="address1" /></td>
			
			<td class="ttc" ><GEN:FieldValue NAME="onsite" /></td>
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE><GEN:TABLE NAME="attachmentTableControl">
<!-- Begin Table Panel.html -->
<GEN:Template DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Table Panels/Show Table.html" />
<table class="dv" cellpadding="0" cellspacing="0" border="0">
 <tr>
	<td class="dh">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr>
	<td class="dhel"><img src="../Images/space.gif" alt=""/></td>
	
	<td class="dht" valign="middle"><GEN:HTML NAME="attachmentTableTitle" /></td>
	<td class="dhtrc">
		<table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="dhtrct"><GEN:Text NAME="attachmentTotalItemsText" />&nbsp;<GEN:Label NAME="attachmentTotalItems" /></td>
		</tr>
	</table>
	</td>
	<td class="dher"><img src="../Images/space.gif" alt=""/></td>
	</tr>
	</table>
	</td>
 </tr>
 <tr>
	<td class="dBody">
	<table id="CollapsibleRegion" style="display:block;" cellspacing="0" cellpadding="0" border="0">
	<tr>
	<td>
	<table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
	<GEN:GROUP NAME="attachmentSearchGroup">
	<!-- Search & Filter Area -->
	<tr>
		<td class="fila"><GEN:Text NAME="attachmentSearchforText" /></td>
		<td>
		<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("attachmentTableControl$attachmentSearchButton")) %>
		<GEN:SearchFilter NAME="attachmentSearchArea" />
		<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("attachmentTableControl$attachmentSearchButton")) %>
		</td>
		<td class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="attachmentSearchButton" /></td>
	</tr>
	</GEN:GROUP>
	<GEN:GROUP NAME="attachmentFilters">
	<tr>
	<td></td>
	<td></td>
	<td rowspan="100" class="filbc"><GEN:Button FILE="../Shared/ThemeButton.html" NAME="attachmentFilterButton" /></td> 
	</tr>
	<%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("attachmentTableControl$attachmentFilterButton")) %>	
	
	<tr>
		<td class="fila"><GEN:FieldLabel NAME="PlaceholderFilterLabel2" /></td>
		<td><GEN:FieldFilter NAME="PlaceholderFilter3" /></td>
	</tr>
	
	<%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("attachmentTableControl$attachmentFilterButton")) %>
	</GEN:GROUP>
	</table>
	<div class="spacer"></div>
	<!-- Category Area -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
	<td>
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
		<td>
		<table id="CategoryRegion" class="tv" cellpadding="0" cellspacing="0" border="0">
		
		<tr>
		<!-- Pagination Area -->
		<td class="pr" colspan="100">
		<table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
		<tr>
		<td class="prel"><img src="../Images/space.gif" alt=""/></td>
			<GEN:GROUP NAME="attachmentButtons">
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="attachmentNewButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="attachmentEditButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="attachmentDeleteButton" />
			</td>
			
			<td class="prbbc">
			<GEN:Button FILE="../Shared/ThemeButton.html" NAME="attachmentExportButton" />
			</td>
			
			</GEN:GROUP>
			
		<td class="prer"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		<!--Table View Area -->
		<tr>
		<td class="tre">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
			<!-- This is the table's header row -->
			<GEN:GROUP NAME="attachmentHeaderRow">
			<div id="AJAXUpdateHeaderRow">
			<tr class="tch">
			<th class="thc" COLSPAN="1"><img src="../Images/space.gif" height="1" width="1" alt=""/></th>
			<th class="thc" style="padding:0px;vertical-align:middle;"><GEN:Selection NAME="attachmentToggleAll" /></th>
			
			<th class="thc" scope="col"><GEN:FieldLabel NAME="nameLabel1" /></th>
			
			
			
			</tr>
			</div>
			</GEN:GROUP>
			<!-- Table Rows -->
			<GEN:ITEMTEMPLATE NAME="attachmentRecordRow">
			<div id="AJAXUpdateRecordRow">
			<tr>
				<td class="tic" scope="row"><GEN:Label NAME="ViewAttachmentLabel" /></td>
				
				<td class="tic" onclick="moveToThisTableRow(this);"><GEN:Selection NAME="attachmentRecordRowSelection" TYPE="Single" /></td>
				
			<td class="ttc" ><GEN:FieldValue NAME="name1" /></td>
			
			
			
			</tr>
			</div>
			</GEN:ITEMTEMPLATE>
			<!-- Totals Area -->
			
			
			</table>
		</td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
	</td>
 </tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE>





<GEN:GROUP NAME="PageButtons">
<table cellpadding="0" cellspacing="0" border="0" id="Table1">
	<tr>
	<td class="rpbAlign">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="OKButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="SaveButton" /></td>
	<td><img src="../Images/space.gif" height="6" width="3" alt=""/></td>
	<td><GEN:Button FILE="../Shared/ThemeButton.html" NAME="CancelButton" /></td>
	</tr>
	</table>
	</td>
	</tr>
</table>
</GEN:GROUP>


							<div id="detailPopup" style="z-index:2; visibility:visible; position:absolute;"></div>
							<div id="detailPopupDropShadow" class="detailPopupDropShadow" style="z-index:1; visibility:visible; position:absolute;"></div>
						

</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
				</td>
				<td class="pcR"></td>
			</tr>
			<tr>
				<td class="pcBL"></td>
				<td class="pcB">
				<GEN:Footer FILE="../Header and Footer/Footer.html" NAME="PageFooter" />
				</td>
				<td class="pcBR"></td>
			</tr>
			</table>
			</td>
			<td class="pbR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		<tr>
			<td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbB"><img src="../Images/space.gif" alt=""/></td>
			<td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
</td><td style="width:15%"></td></tr></table>
		<asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary>
	</form>
	</body>
</html>


